@charset "utf-8";
/* CSS Document */
/***
 * css of norm for this project
 * author: lijianmei
 * e-mail: lijianmei@metasota.ai
 * timestamp: 2017-11-15
 */
* {
    border: 0;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    margin: 0 auto;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    border: 0;
}
dl,dt,dd {
    margin: 0;
    padding: 0;
    display: block;
}
a,a:focus {
    text-decoration: none;
    color: #000;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}
a:hover {
    color: #3399FF;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
cite {
    font-style: normal;
}
.outwrap {
	width: 1000px;
	background-color: #fff;
	margin: 0 auto!important;
}
.btn-all {
	background-color: #3399FF!important;
  border-color: #3399FF!important;
  padding: 10px 15px!important;
  width: 55%;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: .937rem;
}
.el-message {
	top: 50%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);
}

/*所有表格居中*/
.el-table .cell {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.laws-wrap .el-table th, .forum-wrap .el-table th, .el-table tr {
  /*background-color: #f2f2f2;*/
}
.el-tabs__content {
  padding: 0px;
}
.el-tabs__header {
  margin: 0;
  width: 100%;
}
.el-input.is-disabled .el-input__inner {
	color: #727272!important;
}
.el-button--primary {
  background-color: #5867dd!important;
  border-color: #5867dd!important;
}