<template>
</template>

<script>
  import * as mUtils from 'utils/mUtils'
  import * as _ from 'lodash'
  import { mapActions, mapState, mapGetters} from 'vuex'
  import { getUserInfo, getPermissionList } from 'api/api'
  export default {
    name: 'callback',
    data () {
      return {
        homeUrl: '/index'
      }
    },
    computed: {
      ...mapGetters(['menuitems','isLoadRoutes'])  
    },
    created () {
      if ($cookies.get('uid') && $cookies.get('uid') !== null && $cookies.get('uid') !== '') {
        this.getUserInformation()
      }
    },
    methods: {
      ...mapActions(['addMenu','loadRoutes']),
      showMessage(type,message){
        this.$message({
          type: type,
          message: message
        })
      },
      initPermission: function () {
        let userInfo = mUtils.getStore('userinfo')
        let permissionArr = []
        if (userInfo.type === 'LAWYER') {
          permissionArr = ['index', 'producted']
          this.homeUrl = '/index'
        } else if (userInfo.type === 'ADMIN') {
          permissionArr = ['admin']
          this.homeUrl = '/admin'
        } else if (userInfo.type === 'CLIENT') {
          permissionArr = ['index']
          this.homeUrl = '/index'
        } else {
          permissionArr =['/error']
          this.homeUrl = '/index'
        }
        this.generateMenuPushIndex(permissionArr)
      },
      getUserInformation: function () {
        let params = {
          uid: $cookies.get('uid')
        }
        getUserInfo(params).then(res => {
          if (res.data.code === 0) {
            this.$message({
              type: 'success',
              message: '登陆成功'
            })
            // let res = {
            //   data: {
            //     data: {
            //       addr: null,
            //       company: "秘塔科技北京有限公司",
            //       email: "lijianmei@metasota.ai",
            //       enpwd: "29cbdf98aa864dcca83a6f18332cd1d73929c16d03675134b170efaf57ee8a81",
            //       name: null,
            //       nickname: "用户15009784336",
            //       operator: "5e578ee5aa93f8b5d294c4e1",
            //       phone: "15009784336",
            //       pwd_deadline: null,
            //       remark: null,
            //       sex: 2,
            //       slogan: null,
            //       uid: "5e578ee5aa93f8b5d294c4e1",
            //       _id: "5e578ee5aa93f8b5d294c4e1",
            //       type: "LAWYER"
            //     }
            //   }
            // }
            mUtils.setStore('userinfo', res.data.data)
            let permissionArr = []
            if (res.data.data.admin) {
              permissionArr = ['index', 'producted', 'admin']
              this.homeUrl = '/index'
            } else {
              permissionArr = ['index', 'producted']
              this.homeUrl = '/index'
            }
            this.generateMenuPushIndex(permissionArr)
          }
        }).catch(res => {
          this.$message({
            type: 'error',
            message: '抱歉，登录失败，请重新登录'
          })
          this.$router.push({path: '/'})
        })
      },
      // 模拟动态生成菜单并定位到index
      generateMenuPushIndex (permissionArr) {
        const menuData = [
          {
            path:'/index', name:'项目', component: 'Content', icon:'fa-pro', source: 'index',
            children:[
              {path:'/index', name:'活跃项目', component: 'Index', parent: 'index', icon: 'fa-project'},
              {path:'/producted', name:'完结项目', component: 'Producted', parent: 'index', icon: 'fa-project'},
              {path: '/projects', name: '问题清单', component: 'Projects', parent: '/index', icon: 'fa-project'},
              {path: '/reports', name: '文档预览', component: 'Reports', parent: '/index', icon: 'fa-project'},
            ]
          },
          {
            path:'/admin', name:'系统管理', component: 'Content', icon:'fa-admin', source: 'admin',
            children:[
              {path:'/admin', name:'人员管理', component: 'Admin', parent: 'admin', icon: 'fa-user'},
              {path: '/adminproject', name: '项目管理', component: 'AdminProjects', parent: 'admin', icon: 'fa-project'},
            ]
          },
        ]
       // 根据当前用户所拥有的权限生成侧边栏展示模块
        let newMenuData = []
        _.forEach(menuData, function (mval) {
          if (permissionArr.indexOf(mval.source) !== -1) {
            newMenuData.push(mval)
          }
        })
        // 将菜单放入缓存
        mUtils.setStore('menuData', newMenuData)
        // 生成菜单,将菜单放入store
        this.addMenu(newMenuData)

        // 首次进来为false,改变其状态为true
        if (!this.isLoadRoutes) {
          // 根据菜单生成的路由信息,需要将数据库返回的对象key值转成小写
          const routes = mUtils.generateRoutesFromMenu(newMenuData)
          const asyncRouterMap = [
            {
              path: '/error',
              name: '404',
              hidden: true,
              component: require('page/404.vue')
            },
            {
              path: '/index',
              name: '首页',
              hidden: true,
              component: require('layout/Home.vue'),
              redirect: '/index',
              children: routes
            }
          ]
          this.$router.addRoutes(asyncRouterMap)
          // true,第二次进来不用再去加载路由
          this.loadRoutes()
        }
        this.$router.push({path: this.homeUrl})
      }
    }
  }
</script>

<style>
</style>