<template>
	 <div class="nofundcontain">
    <div class="nofund_container">
      <h3>对不起，您访问的页面不存在！</h3>
    </div>
  </div>
</template>

<script>
</script>

<style lang="scss">
	.nofundcontain {
		.nofund_container {
			h3 {
				margin-top: 10%;
				text-align: center;
			}
		}
	}
</style>