<template>
  <div class="admin-wrap">
    <div class="">
      <el-table :data="projectData" style="width: 100%" size="mini">
        <el-table-column prop="name" label="项目名称" width="150"></el-table-column>
        <el-table-column prop="no" label="项目案号" width="120"></el-table-column>
        <el-table-column prop="desc" label="项目描述" min-width="120"></el-table-column>
        <el-table-column label="项目状态" width="100">
          <template slot-scope="scope">
            <span v-if="scope.row.deleted">已关闭</span>
            <span v-else>
              <span v-if="scope.row.status === 'Created'">活跃中</span>
              <span v-else-if="scope.row.status === 'Finished'">已归档</span>
            </span>
          </template>
        </el-table-column>
        <el-table-column label="创建时间" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.create_time | timeformat('YYYY-MM-DD hh:mm:ss') }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="operation" align='center' label="操作" fixed="right" width="280">
          <template slot-scope='scope'>
            <el-button type="primary" size="mini" @click="editorProjectFunc(scope.row, 'col')" :disabled="scope.row.status==='Created' ? false : true">归档</el-button>
            <el-button type="warning" size="mini" @click="editorProjectFunc(scope.row, 'cacel')" :disabled="scope.row.status==='Finished' ? false : true">取消归档</el-button>
            <el-button type="danger" size="mini" @click="removeProjectFunc(scope.row)" v-if="!scope.row.deleted">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background :current-page="page.current" :page-size="page.size" :total="page.total" layout="total, prev, pager, next" v-on:current-change="pageIndexChange" v-if="page.total > 10"></el-pagination>
    </div>
  </div>
</template>

<script>
  import * as mUtils from 'utils/mUtils'
  import * as _ from 'lodash'
  import axios from 'axios'
  import { getProjects, editorProject} from 'api/api'
  export default {
    name: 'admin',
    data () {
      return {
        loading: false,
        projectData: [],
        page: {
          current: 1,
          size: 10,
          total: 0
        },
      }
    },
    created () {
      this.getProjectsFunc()
    },
    methods: {
      getProjectsFunc: function () {
        let params = {
          page: this.page.current,
          page_size: this.page.size
        }
        getProjects(params).then(res => {
          if (res.data.code === 0) {
            this.projectData = res.data.data.items
            this.page.total = res.data.data.pagination.total
          } else {
            console.log('获取项目列表失败res.data.msg====', res.data.msg)
          }
        }).catch(res => {
          console.log('获取项目列表失败res.msg====', res.msg)
        })
      },
      editorProjectFunc: function (item, sta) {
        let roots = {
          pid: item.pid
        }
        let params = {
          status: sta === 'col' ? 'Finished' : 'Created'
        }
        editorProject(roots, params).then(res => {
          if (res.data.code === 0) {
            this.getProjectsFunc()
            this.$message({
              type: 'success',
              message: sta === 'col' ? '归档成功，可前往完结项目列表查看' : '取消归档成功，可前往活跃项目列表查看'
            })
          } else if (res.data.code === 1) {
            this.$message({
              type: 'error',
              message: '用户登录已失效，请重新登录'
            })
          } else {
            this.$message({
              message: res.data.msg,
              type: 'error'
            })
          }
        }).catch(res => {
          this.$message({
            message: res.msg,
            type: 'error'
          })
        })
      },
      removeProjectFunc: function (item) {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          let roots = {
            pid: item.pid
          }
          let params = {
            deleted: true
          }
          editorProject(roots, params).then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: '删除成功!'
              })
              this.getProjectsFunc()
            } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
              this.$message({
                message: res.data.msg,
                type: 'error'
              })
            }
          }).catch(res => {
            this.$message({
              message: res.msg,
              type: 'error'
            })
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      },
      pageIndexChange: function (pageIndex) {
        this.page.current = pageIndex
        this.getProjectsFunc()
      },
    }
  }
</script>

<style lang="scss">
  .admin-wrap {
    padding: 10px 20px;
    margin: 0 10px;
    overflow: auto;
    .el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
      background-color: #9199d1!important;
      border-color: #9199d1!important;
    }
    .addmembers-wrap {
      width: 50%;
    }
    .members-addbtn {
      float: right;
      margin-bottom: 15px;
    }
    .el-dialog__footer {
      padding: 0px 20px 30px;
    }
    .dialog-footer {
      text-align: center;
    }
  }
</style>