<template>
  <div class="admin-wrap">
    <div>
      <el-form :model="addMmberData" :rules="addMembersRules" label-width="70px" ref="addMmberDataRef" size="small" class="addmembers-wrap" :inline="true">
        <el-form-item prop="name">
          <el-input placeholder="请输入成员姓名" v-model="addMmberData.name"></el-input>
        </el-form-item>
        <el-form-item prop="email">
          <el-input placeholder="请输入成员邮箱" v-model="addMmberData.email"></el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input placeholder="请输入初始密码" v-model="addMmberData.password" type="password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="addMembersFunc" class="addproject-lawyer-btn" size="mini" type="primary">新增人员</el-button>
        </el-form-item>
      </el-form>
      <el-table :data="membersData" style="width: 100%" size="mini">
        <el-table-column prop="name" label="姓名" width="200"></el-table-column>
        <el-table-column prop="email" label="邮箱" min-width="150"></el-table-column>
        <el-table-column label="创建时间" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.create_time | timeformat('YYYY-MM-DD hh:mm:ss') }}</span>
          </template>
        </el-table-column>
        <el-table-column label="修改时间" width="150">
          <template slot-scope="scope">
            <span>{{scope.row.create_time | timeformat('YYYY-MM-DD hh:mm:ss') }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="operation" align='center' label="操作" fixed="right" width="150">
          <template slot-scope='scope'>
            <el-button type="primary" size="mini" @click="openEditorUserVisible(scope.row)">编辑</el-button>
            <el-button type="danger" size="mini" @click="deleteUserFunc(scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination background :current-page="page.current" :page-size="page.size" :total="page.total" layout="total, prev, pager, next" v-on:current-change="pageIndexChange" v-if="page.total > 10"></el-pagination>
    </div>

    <!-- 批量新增成员界面 -->
    <el-dialog :visible.sync="editorMembersVisible" :title="title" width="600px">
      <el-form :model="editorMmberData" :rules="editorMembersRules" label-width="80px" ref="editorMmberDataRef" size="small" class="addmembers-wrap">
        <el-form-item label="用户名" prop="name">
          <el-input placeholder="请输入成员姓名" v-model="editorMmberData.name"></el-input>
        </el-form-item>
        <el-form-item label="用户邮箱" prop="email">
          <el-input placeholder="请输入成员邮箱" v-model="editorMmberData.email"></el-input>
        </el-form-item>
        <el-form-item label="登录密码" prop="password">
          <el-input placeholder="请输入初始密码" v-model="editorMmberData.password" type="password"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editorMembersVisible = false" size="small">取 消</el-button>
        <el-button type="primary" @click="editorUserFunc" size="small">确 认</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import * as mUtils from 'utils/mUtils'
  import * as _ from 'lodash'
  import axios from 'axios'
  import { getUserList, editorUser, deleteUser, addUsers } from '@/api/api'
  export default {
    name: 'admin',
    data () {
      return {
        loading: false,
        membersData: [],
        page: {
          current: 1,
          size: 10,
          total: 0
        },
        addMembersRules: {
          name: [
            { required: true, message: '请填写用户姓名', trigger: 'blur'}
          ],
          email: [
            { required: true, message: '请填写用户邮箱', trigger: 'blur'},
            { type: 'email', message: '请检查邮箱格式是否正确', trigger: 'blur'}
          ],
          password: [
            { required: true, message: '请填写用户的初始密码', trigger: 'blur'}
          ]
        },
        editorMembersVisible: false,
        title: '编辑成员信息',
        editorMmberData: {},
        addMmberData: {},
        editorMembersRules: {
          name: [
            { required: true, message: '请填写用户姓名', trigger: 'blur'}
          ],
          email: [
            { required: true, message: '请填写用户邮箱', trigger: 'blur'},
            { type: 'email', message: '请检查邮箱格式是否正确', trigger: 'blur'}
          ],
          password: [
            { required: true, message: '请填写用户的初始密码', trigger: 'blur'}
          ]
        },
      }
    },
    created () {
      this.getUserListFunc()
    },
    methods: {
      getUserListFunc: function () {
        let params = {
          page: this.page.current,
          page_size: this.page.size
        }
        getUserList(params).then(res => {
          if (res.data.code === 0) {
            this.membersData = res.data.data.items
            this.page.total = res.data.data.pagination.total
          } else if (res.data.code === 1) {
            this.$message({
              type: 'error',
              message: '用户登录已失效，请重新登录'
            })
          } else {
            this.$message({
              type: 'error',
              message: res.data.msg
            })
          }
        }).catch(res => {
          this.$message({
            type: 'error',
            message: res.msg
          })
        })
      },
      openEditorUserVisible: function (row) {
        this.editorMmberData = Object.assign({}, row)
        this.editorMembersVisible = true
      },
      editorUserFunc: function () {
        this.$refs['editorMmberDataRef'].validate((valid) => {
          if (!valid) {
            return false
          }
          let params = {
            uid: this.editorMmberData.uid,
            name: this.editorMmberData.name,
            email: this.editorMmberData.email,
            password: this.editorMmberData.password
          }
          editorUser(params).then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: '编辑成功'
              })
              this.editorMembersVisible = false
              this.getUserListFunc()
            } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          }).catch(res => {
            this.$message({
              type: 'error',
              message: res.msg
            })
          })
        })
      },
      addMembersFunc: function () {
        this.$refs['addMmberDataRef'].validate((valid) => {
          if (!valid) {
            return false
          }
          let params = {
            name: this.addMmberData.name,
            email: this.addMmberData.email,
            password: this.addMmberData.password
          }
          addUsers(params).then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: '新增成功'
              })
              this.getUserListFunc()
            } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          }).catch(res => {
            this.$message({
              type: 'error',
              message: res.msg
            })
          })
        })
      },
      deleteUserFunc: function (row) {
        let params = {
          uid: row.uid
        }
        deleteUser(params).then(res => {
          if (res.data.code === 0) {
            this.$message({
              type: 'success',
              message: '删除成功'
            })
            this.getUserListFunc()
          } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
            this.$message({
              type: 'error',
              message: res.data.msg
            })
          }
        }).catch(res => {
          this.$message({
            type: 'error',
            message: res.msg
          })
        })
      },
      pageIndexChange: function (pageIndex) {
        this.page.current = pageIndex
        this.getMembersFunc()
      },
    }
  }
</script>

<style lang="scss">
  .admin-wrap {
    padding: 10px 20px;
    margin: 0 10px;
    overflow: auto;
    .addmembers-wrap {
      width: 100%!important;
      margin-bottom: 20px;
    }
    .el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
      background-color: #615fa8!important;
      border-color: #615fa8!important;
    }
    .members-addbtn {
      float: right;
      margin-bottom: 15px;
    }
    .el-dialog__footer {
      padding: 0px 20px 30px;
    }
    .dialog-footer {
      text-align: center;
    }
  }
</style>