<template>
  <div class="info_container">
    <el-row class="info_row row" :gutter="10">
      <!-- <h4>活跃项目</h4> -->
      <el-col :span="8">
        <div class="project-item-wrap" @click="createProject">
          <div class="project-item">
            <img src="../../static/img/new1.png" alt="" class="new-project-img">
            <hr class="new-project-line">
            <h5 class="new-project-title">新建项目</h5>
          </div>
        </div>
      </el-col>
      <el-col :span="8" v-for="item in projectList" :key="item.project_id">
        <div class="project-item-wrap" v-if="!item.deleted">
          <div class="project-item" @click="openQuestion(item)">
            <div class="project-status-wrap">
              <div class="is-passed">活跃中</div>
            </div>
            <h5 class="project-title">{{item.name}}</h5>
            <ul class="project-content-wrap">
              <li class="project-caseno">项目案号：{{item.no}}</li>
              <li class="project-desc"><span style="position: absolute;">项目描述：</span><span class="project-desc-detail" style="margin-left: 70px;">{{item.desc}}</span></li>
              <li class="project-time">创建时间：{{item.create_time | timeformat('YYYY-MM-DD')}}</li>
            </ul>
            <div class="project-item-btn">
              <i class="collo-project-btn el-icon-document" @click.stop="editorProjectFunc(item, 'col')">归档</i>
              <i class="editor-project-btn el-icon-edit" @click.stop="editorProjectFunc(item)">编辑</i>
              <i class="delete-project-btn el-icon-delete" @click.stop="removeProjectFunc(item)">删除</i>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>

    <!-- 新建项目弹出框 -->
    <el-dialog :visible.sync="createprejectVisible" width="600px" :title="title" @close="closeCreatePrejectVisible">
      <el-form :model="newProject" label-width="160px" ref="newProjectRef" size="small" class="newproject-wrap" :rules="newProjectRules" label-position="left">
        <el-form-item label="项目名称" prop="name">
          <el-input placeholder="请输入项目名称" v-model="newProject.name"></el-input>
        </el-form-item>
        <el-form-item label="项目编号" prop="no">
          <el-input placeholder="请输入项目案号" v-model="newProject.no"></el-input>
        </el-form-item>
        <el-form-item label="您的客户是？" placeholder="请选择" prop="client">
          <el-radio-group v-model="newProject.client">
            <el-radio label="投资方">投资方</el-radio>
            <el-radio label="融资方">融资方</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="此次交易的轮次是？" prop="round">
          <span>Series</span>
          <!-- <el-select v-model="newProject.round" placeholder="请选择轮次">
            <el-option label="Series Seed" value="Series Seed" :disabled="true"></el-option>
            <el-option label="Series A" value="Series A"></el-option>
          </el-select>
          <el-select v-model="newProject.roundUser" placeholder="请选择子轮次">
            <el-option :label="1" :value="1"></el-option>
            <el-option :label="2" :value="2"></el-option>
            <el-option :label="3" :value="3"></el-option>
            <el-option :label="4" :value="4"></el-option>
            <el-option :label="5" :value="5"></el-option>
          </el-select> -->
          <el-input v-model="newProject.round" style="width: 89%;" placeholder="请输入此次交易的轮次"></el-input>
        </el-form-item>
        <el-form-item label="项目描述">
          <el-input placeholder="请输入项目描述" v-model="newProject.desc" type="textarea"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="createprejectVisible = false" size="small">取 消</el-button>
        <el-button type="primary" @click="submitNewProject" size="small">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import * as mUtils from 'utils/mUtils'
  import * as _ from 'lodash'
  import { getProjects, createProject, editorProject, removeProject } from 'api/api'
  export default {
    name: 'index',
    data () {
      return {
        userType: 'LAWYER',
        projectList: [],
        title: '新建项目',
        createprejectVisible: false,
        newProject: {},
        newProjectRules: {
          name: [{required: true, message: '请输入项目名称', trigger: 'blur'}],
          no: [{required: true, message: '请输入项目编号', trigger: 'blur'}],
          client: [{required: true, message: '请选择客户类型', trigger: 'change'}],
          round: [{required: true, message: '请输入此次交易的轮次', trigger: 'change'}],
        }
      }
    },
    created () {
      this.getProjectsFunc()
    },
    mounted () {
      this.userType = mUtils.getStore('userinfo').type
    },
    methods: {
      getProjectsFunc: function () {
        let params = {
          status: 'Created',
          deleted: false,
          uid: mUtils.getStore('userinfo').uid
        }
        getProjects(params).then(res => {
          if (res.data.code === 0) {
            this.projectList = res.data.data.items
          } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
            this.$message({
              type: 'error',
              message: '获取项目列表失败'
            })
          }
        }).catch(res => {
          this.$message({
            type: 'error',
            message: '获取项目列表失败'
          })
          console.log('获取项目列表失败res.msg====', res.msg)
        })
      },
      createProject: function () {
        this.title = '新建项目'
        this.newProject = {}
        this.createprejectVisible = true
      },
      closeCreatePrejectVisible() {
        this.newProject = {}
        this.$refs['newProjectRef'].resetFields()
      },
      editorProjectFunc: function (item, type) {
        if (type === 'col') {
          let roots = {
            pid: item.pid
          }
          let params = {
            status: 'Finished'
          }
          editorProject(roots, params).then(res => {
            if (res.data.code === 0) {
              this.getProjectsFunc()
              this.$message({
                type: 'success',
                message: '归档成功，可前往完结项目列表查看'
              })
            } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
              this.$message({
                message: res.data.msg,
                type: 'error'
              })
            }
          }).catch(res => {
            this.$message({
              message: res.msg,
              type: 'error'
            })
          })
        } else {
          this.title = '编辑项目'
          this.newProject = Object.assign({}, item)
          // let round = this.newProject.round
          // if (round.indexOf('Series') !== -1) {
            // this.newProject.round = round.substr(0, round.indexOf('-'))
            // this.newProject.round = round.substr((round.indexOf('Series') + 6))
          // }
          this.createprejectVisible = true
        }
      },
      submitNewProject: function () {
        this.$refs['newProjectRef'].validate((valid) => {
          if (!valid) {
            return false
          }
          let params = {
            name: this.newProject.name,
            no: this.newProject.no,
            desc: this.newProject.desc,
            client: this.newProject.client,
            round: this.newProject.round
          }
          if (this.title === '新建项目') {
            createProject(params).then(res => {
              if (res.data.code === 0) {
                this.getProjectsFunc()
                this.createprejectVisible = false
              this.$message({
                type: 'success',
                message: '创建成功'
              })
              } else if (res.data.code === 1) {
                this.$message({
                  type: 'error',
                  message: '用户登录已失效，请重新登录'
                })
              } else {
                this.$message({
                  message: res.data.msg,
                  type: 'error'
                })
              }
            }).catch(res => {
              this.$message({
                message: res.msg,
                type: 'error'
              })
            })
          } else {
            let roots = {
              pid: this.newProject.pid
            }
            editorProject(roots, params).then(res => {
              if (res.data.code === 0) {
                this.getProjectsFunc()
                this.createprejectVisible = false
                this.$message({
                  type: 'success',
                  message: '编辑成功'
                })
              } else if (res.data.code === 1) {
                this.$message({
                  type: 'error',
                  message: '用户登录已失效，请重新登录'
                })
              } else {
                this.$message({
                  message: res.data.msg,
                  type: 'error'
                })
              }
            }).catch(res => {
              this.$message({
                message: res.msg,
                type: 'error'
              })
            })
          }
        })
      },
      removeProjectFunc: function (item) {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          let roots = {
            pid: item.pid
          }
          let params = {
            deleted: true
          }
          editorProject(roots, params).then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: '删除成功!'
              })
              this.getProjectsFunc()
            } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
              this.$message({
                message: res.data.msg,
                type: 'error'
              })
            }
          }).catch(res => {
            this.$message({
              message: res.msg,
              type: 'error'
            })
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      },
      openQuestion: function (item) {
        this.$router.push({name: '问题清单', query: {pid: item.pid, name: item.name}})
      }
    }
  }
</script>

<style lang="scss">
  .info_container{
    padding: 0px 20px 10px;
    margin: 0 10px;
    overflow: auto;
    h4 {
    	padding: 10px;
    }
    .project-item-wrap {
      padding: 5px;
      text-align: center;
      position: relative;
      .project-item {
        height: 160px;
        overflow: hidden;
        cursor: pointer;
        background: #fff;
        padding: 20px 10px;
        border-radius: 6px;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.05);
        position: relative;
        .new-project-img {
          width: 110px;
        }
        .new-project-title {
          margin-top: 12px;
        }
        .new-project-line {
          display: block;
          width: 100%;
          border-bottom: 1px solid #cacaca;
          margin-top: 10px;
        }
        .project-title {
          text-align: left;
          margin-bottom: 15px!important;
        }
        .project-content-wrap {
          font-size: 14px;
          text-align: left;
          border-bottom: 1px solid #cacaca;
          padding-bottom: 10px;
          li {
            line-height: 28px!important;
          }
          .project-caseno {
            
          }
          .project-desc {
            height: 28px;
            overflow: hidden;
            position: relative;
            .project-desc-detail {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              display: inline-block;
              width: calc(100% - 70px);
              height: 28px;
            }
          }
          .project-time {

          }
        }
        .project-item-btn {
          // display: none;
          position: absolute;
          bottom: 12px;
          right: 20px;
          i{
            font-size: 13px;
            font-style: normal;
            margin-left: 15px;
          }
          .editor-project-btn {
            color: #5867dd;
          }
          .delete-project-btn {
            color: #F56C6C;
          }
          .collo-project-btn {
            color: #67C23A;
          }
        }
        .project-status-wrap {
          position: absolute;
          right: -25px;
          width: 80px;
          top: 7px;
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          color: #fff;
          transform: rotate(45deg);
          text-align: center;
        }
        .is-created {
          background: #ff5757;
        }
        .is-reject {
          background: #909399;
        }
        .is-passed {
          background: #E6A23C;
        }
        .is-complated {
          background: #67C23A;
        }
      }
    }
    .newproject-wrap {
      overflow: hidden;
      .addproject-lawyer-btn {
        
      }
    }
    .el-dialog__footer {
      padding: 0px 20px 30px;
    }
    .dialog-footer {
      text-align: center;
    }
  }
</style>