<template>
  <div class="login_page">
    <transition name="form-fade" mode="in-out">
      <section class="form_contianer">
        <div class="loginForm">
          <div class="login-left-imgwrap">
            <div>
              <img class="logo-title" src="../../static/img/login-logo.png" alt="">
            </div>
            <!-- <div class="meta-logo-img">
              <img src="../../static/img/metalogo.png" alt="">
            </div> -->
            <img src="../../static/img/loginbg.png" alt="logo">
          </div>
          <div class="login-right-content">
            <div class="login-right-content-wrap">
              <div class="brand-logo">
                <img src="../../static/img/logo.gif" alt="logo">
              </div>
              <div v-show="isLogin">
                <!-- <h5>智能尽职调查系统登录</h5> -->
                <!-- <h6 class="font-weight-light">智能尽职调查系统</h6> -->
                <div class="login-content-wrap">
                  <el-form :model="loginData" label-width="0px" class="login-content-form" :rules="accountLoginRules" ref="accountLoginRef">
                    <el-form-item>
                      <!-- <el-input placeholder="用户名" v-model="registerData.nickname"></el-input> -->
                    </el-form-item>
                    <el-form-item prop="account" style="margin-bottom: 40px;">
                      <el-input placeholder="邮箱" v-model="loginData.account"></el-input>
                    </el-form-item>
                    <el-form-item class="password-wrap" prop="password" style="margin-bottom: 40px;">
                      <el-input :type="isPWDShow ? 'type' : 'password'" placeholder="密码" class="phonecode-input-wrap"
                      v-model="loginData.password" @keyup.enter.native="loginByEnter"></el-input>
                      <span class="el-input__suffix" style="top: -14px; right: -12px; height: 35px;" @click="isPWDShow = !isPWDShow">
                        <span class="el-input__suffix-inner">
                          <i class="el-input__icon el-icon-view el-input__clear"></i>
                        </span>
                      </span>
                    </el-form-item>
                  </el-form>
                  <div class="login-btn-wrap">
                    <el-button type="primary" class="login-button" @click="loginSubmit" size="small">登 录</el-button>
                  </div>
                  <!-- <div class="keep-password-wrap">
                    <div class="form-check">
                      还没有账号? <a href="javascript:void(0)" type="primary" @click="isLogin=false">立即注册</a>
                      <el-checkbox v-model="signInKeep" class="form-check-input">Keep me signed in</el-checkbox>
                    </div>
                    <a href="#" class="auth-link text-black" @click="goToResetPassword">还没有账号？前往注册</a>
                  </div> -->
                  <div class="create-btn" v-if="registerConfig">
                    <!-- 还没有账号? <a href="javascript:void(0)" type="primary" @click="goToResetPassword">立即注册</a> -->
                    还没有账号? <a href="javascript:void(0)" type="primary" @click="goToRegister">立即注册</a>
                  </div>
                </div>
              </div>
              <div v-show="!isLogin">
                <!-- <h5 v-if="!forgetPassword">智能尽职调查系统注册</h5> -->
                <!-- <h5 v-else>智能尽职调查系统注册</h5> -->
                <!-- <h6 class="font-weight-light">请输入您的登录邮箱</h6> -->
                <div class="login-content-wrap">
                  <el-form :model="registerData" label-width="0px" class="login-content-form" :rules="accountSignUpRules" ref="accountSignUpRef">
                    <el-form-item prop="nickname" style="margin-top: 15px;">
                      <el-input placeholder="用户名" v-model="registerData.nickname"></el-input>
                    </el-form-item>
                    <el-form-item prop="account">
                      <el-input placeholder="邮箱" v-model="registerData.account"></el-input>
                    </el-form-item>
                    <el-form-item class="password-wrap" prop="password">
                      <el-input :type="isPWDShow ? 'type' : 'password'" placeholder="密码" class="phonecode-input-wrap"
                      v-model="registerData.password" @keyup.enter.native="loginByEnter"></el-input>
                      <span class="el-input__suffix" style="top: -14px; right: -12px; height: 35px;" @click="isPWDShow = !isPWDShow">
                        <span class="el-input__suffix-inner">
                          <i class="el-input__icon el-icon-view el-input__clear"></i>
                        </span>
                      </span>
                    </el-form-item>
                  </el-form>
                  <!-- <div class="keep-password-wrap">
                    <div class="form-check">
                      <el-checkbox v-model="signInKeep" class="form-check-input">I agree to all Terms & Conditions</el-checkbox>
                    </div>
                  </div> -->
                  <div class="login-btn-wrap">
                    <el-button type="primary" class="login-button" @click="registerSubmit" size="small">注 册</el-button>
                  </div>
                  <div class="create-btn">
                    已有账号密码？<a href="javascript:void(0)" type="primary" @click="isLogin=true">返回登录</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="developer-wrap">
              <a href="https://metasota.ai" target="_blank">powered by 秘塔科技</a>
            </div>
          </div>
        </div>
      </section>
    </transition>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import * as mUtils from 'utils/mUtils'
  import { loginByAccount, registerAccount, resetPassword, getUserInfo, getConfig } from 'api/api'
  export default {
    name: 'login',
    data () {
      return {
        isLogin: true,
        forgetPassword: true,
        isPWDShow: false,
        loginData: {},
        accountLoginRules: {
          account: [
            { required: true, message: '请输入您的邮箱地址', trigger: 'blur'},
            { type: 'email', message: '请检查邮箱格式是否正确', trigger: 'blur'}
          ],
          password: [
            { required: true, message: '请输入您的登录密码', trigger: 'blur'}
          ]
        },
        accountSignUpRules: {
          account: [
            { required: true, message: '请输入您的邮箱地址', trigger: 'blur'},
            { type: 'email', message: '请检查邮箱格式是否正确', trigger: 'blur'}
          ],
          nickname: [
            { required: true, message: '请输入您的用户名', trigger: 'blur'}
          ],
          password: [
            { required: true, message: '请输入初始登录密码', trigger: 'blur'}
          ]
        },
        signInKeep: true,
        registerData: {},
        codeButton: {
          isDisabled: false,
          name: 'Get Verification Code',
          time: 60
        },
        timer: function() {},
        registerConfig: false,
      }
    },
    computed: {

    },
    mounted () {
      
    },
    created () {
      if ($cookies.get('uid') && $cookies.get('uid') !== null && $cookies.get('uid') !== '') {
        this.getUserInformation()
      }
      this.getRegiterStatus()
    },
    methods: {
      loginByEnter: function (e) {
        var keyCode = window.event ? e.keyCode : e.which
        if (keyCode === 13) {
          if (this.isLogin) {
            this.loginSubmit()
          } else {
            this.registerAccount()
          }
        }
      },
      getRegiterStatus: function () {
        getConfig({}).then(res => {
          if (res.data.code === 0) {
            let resData = res.data.data[0]
            this.registerConfig = resData.value === '1' ? true : false
          } else {
            this.registerConfig = false
          }
        }).catch(res => {
          this.registerConfig = false
        })
      },
      getUserInformation: function () {
        let params = {
          uid: $cookies.get('uid')
        }
        getUserInfo(params).then(res => {
          if (res.data.code === 0) {
            mUtils.setStore('userinfo', res.data.data)
            this.$router.push({path: 'callback'})
          } else {
            console.log('该用户尚未登录res.data.msg====', res.data.msg)
          }
        }).catch(res => {
          console.log('该用户登录出错res.msg====', res.msg)
        })
      },
      loginSubmit: function () {
        this.$refs['accountLoginRef'].validate((valid) => {
          if (!valid) {
            return false
          }
          let params = {
            // login_by: 'account',
            email: this.loginData.account,
            password: this.loginData.password
          }
          // this.$router.push({path: '/callback'})
          loginByAccount(params).then(res => {
            if (res.data.code === 0) {
              this.$router.push({path: 'callback'})
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          }).catch(res => {
            this.$message({
              type: 'error',
              message: '服务器暂时不可用'
            })
          })
        })
      },
      goToRegister: function () {
        this.registerData.account = this.loginData.account
        this.isLogin = false
        this.forgetPassword = false
      },
      goToResetPassword: function () {
        this.registerData.account = this.loginData.account
        this.isLogin = false
        this.forgetPassword = true
      },
      registerSubmit: function () {
         this.$refs['accountSignUpRef'].validate((valid) => {
           if (!valid) {
             return false
           }
          let params = {
            email: this.registerData.account,
            name: this.registerData.nickname,
            password: this.registerData.password
          }
          registerAccount(params).then(res => {
            if (res.data.code === 0) {
              this.$router.push({path: 'callback'})
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          }).catch(res => {
            this.$message({
              type: 'error',
              message: res.msg
            })
          })
        })
      }
      // signInSubmit: function () {
      //   // signIn({}).then(res => {

      //   // }).catch(res => {
          
      //   // })
      // },
      // // 验证邮箱验证码
      // checkEamilVerificationCode: function () {
      //   if (this.editorUserInfor.emailCode) {
      //     let params = {
      //       type: 'new_email',
      //       content: this.registerData.verification
      //     }
      //     checkVerificationCode(params).then(res => {
      //       debugger
      //       if (res.data.code === 0) {
      //         this.signInSubmit()
      //       } else {
      //         this.$message({
      //           type: 'error',
      //           message: res.data.msg
      //         })
      //       }
      //     }).catch(res => {
      //       this.$message({
      //         type: 'error',
      //         message: res.msg
      //       })
      //     })
      //   }
      // },
      // // 邮箱验证及发送邮箱验证码
      // checkEmailAndGetEmailCode: function () {
      //   this.$refs['accountSignUpRef'].validateField('account', (valid) => {
      //     if (valid) {
      //       return false
      //     }
      //     let type = {
      //       type: 'new_email'
      //     }
      //     let params = {
      //       email: this.registerData.account
      //     }
      //     getVerificationCode(type, params).then(res => {
      //       if (res.data.code === 0) {
      //         this.checkCallBackFunc(res)
      //       } else if (res.data.code === 2703) {
      //         this.$message({
      //           type: 'error',
      //           message: 'The mailbox is occupied'
      //         })
      //       } else {
      //         this.$message({
      //           type: 'error',
      //           message: res.data.msg
      //         })
      //       }
      //     }).catch(res => {
      //       this.$message({
      //         type: 'error',
      //         message: res.msg
      //       })
      //     })
      //   })
      // },
      // // 获取验证码成功后的回调操作
      // checkCallBackFunc: function(res) {
      //   if(res.data.code === 0) {
      //     this.$message({
      //       type: 'success',
      //       message: 'The verification code has been sent'
      //     })
      //     let _this = this
      //     _this.codeButton.isDisabled = true
      //     _this.timer = window.setInterval(function() {
      //       _this.codeButton.name = _this.codeButton.time + ' seconds resend'
      //         --_this.codeButton.time
      //       if(_this.codeButton.time < 0) {
      //         _this.resetCodeButton()
      //       }
      //     }, 1000)
      //   } else {
      //     this.$message({
      //       type: 'error',
      //       message: res.data.msg
      //     })
      //   }
      // },
      // resetCodeButton: function () {
      //   this.codeButton = {
      //     isDisabled: false,
      //     name: 'Get Verification Code',
      //     time: 60
      //   }
      //   window.clearInterval(this.timer)
      // },
    },
    watch: {
      
    }
	}
</script>

<style lang="scss">
  .login_page{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    .form_contianer{
      position: absolute;
      width: 900px;
      height: 450px;
      top: 50%;
      left: 50%;
      margin-top: -225px;
      transform: translatex(-50%);
      text-align: center;
      background: #fff;
      border-radius: 4px;
      .submit_btn{
        width: 100%;
        font-size: 16px;
        letter-spacing: 20px;
      }
      .loginForm{
        padding: 1.5rem 1.5rem 0;
        font-size: 14px;
        background: #fff;
        position: relative;
        text-align: left;
        display: flex;
        .login-left-imgwrap {
          width: 500px;
          text-align: center;
          .logo-title {
            width: 220px;
            margin-left: -3rem;
          }
          img {
            width: 100%;
            height: auto;
          }
          .meta-logo-img {
            text-align: right;
            margin-right: 4rem;
            img {
              width: 200px;
            }
          }
        }
        .login-right-content {
          margin-left: 20px;
          flex: 1;
          position: relative;
          top: 50%;
          .developer-wrap {
            position: absolute;
            right: 0;
            bottom: 2px;
            a {
              color: #7e7e7e;
              font-size: 12px;
            }
          }
          .login-right-content-wrap {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .brand-logo {
          margin-bottom: -10px;
          img {
            width: 150px;
          }
        }
        h4 {
          font-weight: 500;
          margin-bottom: 1rem;
          color: #000;
        }
        h6 {
          font-weight: 300;
          color: #000;
        }
        .login-nav-wrap {
          li {
            display: inline-block;
            font-size: 18px;
            cursor: pointer;
            padding: 10px 25px;
            cursor: pointer;
          }
          .tabIsActive {
            color: #3759CB;
            font-weight: 500;
            &::after {
              content: '';
              display: block;
              border-bottom: 2px solid #3759CB;
            }
          }
        }
        i {
          color: #666;
          display: block;
          font-style: normal;
          padding: 5px 0;
          margin-top: 10px;
          cursor: pointer;
          &:hover {
            color: #3759CB;
          }
        }
        .login-content-form {
          padding: 10px 0px 0px;
          .phonecode-input-wrap {
            .el-button--default {
              padding: 12px 15px;
              font-size: 13px;
            }
          }
          i {
            margin-right: 15px;
          }
          .el-form-item {
            margin-bottom: 28px;
          }
        }
        .login-btn-wrap {
          .login-button {
            padding: .7rem 3rem;
            width: 100%;
            border-radius: 0.1875rem;
            font-weight: 400;
            font-size: 0.875rem;
          }
        }
        .keep-password-wrap {
          margin: 0.5rem 0;
          .form-check {
            position: relative;
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 0;
            .form-check-label {
              min-height: 18px;
              display: block;
              font-size: 0.875rem;
              line-height: 1.5;
              color: #686868;
            }
            .el-checkbox__input.is-checked+.el-checkbox__label {
              color: #686868;
            }
          }
          .auth-link {
            float: right;
            font-size: 0.875rem;
            color: #000;
            margin-top: 5px;
            margin-bottom: 10px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .create-btn {
          margin-top: 1.5rem;
          text-align: center;
          a {
            font-size: 0.875rem;
            color: #3c3992;
            &:hover {
              color: #3c3992;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .form-fade-enter-active, .form-fade-leave-active {
      transition: all 1s;
    }
    .form-fade-enter, .form-fade-leave-active {
      transform: translate3d(0, -50px, 0);
      opacity: 0;
    }
  }
</style>