<template>
	<div class="info_container">
    <el-row class="info_row row" :gutter="10">
      <h4 v-if="projectList.length === 0">暂无已归档项目</h4>
      <el-col :span="8" v-for="item in projectList" :key="item.project_id" v-else>
        <div class="project-item-wrap">
          <div class="project-item" @click="openQuestion(item)">
            <div class="project-status-wrap">
              <div class="is-complated">已归档</div>
            </div>
            <h5 class="project-title">{{item.name}}</h5>
            <ul class="project-content-wrap">
              <li class="project-caseno">项目案号：{{item.no}}</li>
              <li class="project-desc"><span style="position: relative; top: -10px;">项目描述：</span><span class="project-desc-detail">{{item.desc}}</span></li>
              <li class="project-time">创建时间：{{item.create_time | timeformat('YYYY-MM-DD')}}</li>
            </ul>
            <div class="project-item-btn">
              <i class="collo-project-btn el-icon-document" @click.stop="editorProjectFunc(item, 'col')">取消归档</i>
              <i class="editor-project-btn el-icon-edit" @click.stop="editorProjectFunc(item)">编辑</i>
              <i class="delete-project-btn el-icon-delete" @click.stop="removeProjectFunc(item)">删除</i>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>
    
    <!-- 编辑项目弹出框 -->
    <el-dialog :visible.sync="createprejectVisible" width="600px" :title="title" @close="closeCreatePrejectVisible">
      <el-form :model="newProject" label-width="80px" ref="newProjectRef" size="small" class="newproject-wrap" :rules="newProjectRules">
        <el-form-item label="项目名称" prop="name">
          <el-input placeholder="请输入项目名称" v-model="newProject.name"></el-input>
        </el-form-item>
        <el-form-item label="项目编号" prop="no">
          <el-input placeholder="请输入项目案号" v-model="newProject.no"></el-input>
        </el-form-item>
        <el-form-item label="项目描述">
          <el-input placeholder="请输入项目案号" v-model="newProject.desc"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="createprejectVisible = false" size="small">取 消</el-button>
        <el-button type="primary" @click="submitNewProject" size="small">确 定</el-button>
      </div>
    </el-dialog>
	</div>
</template>

<script>
  import * as mUtils from 'utils/mUtils'
  import * as _ from 'lodash'
  import { getProjects, editorProject, removeProject } from '@/api/api'
  export default {
    name: 'producted',
    data () {
      return {
        projectList: [],
        title: '编辑项目',
        createprejectVisible: false,
        newProject: {},
        newProjectRules: {
          name: [{required: true, message: '请输入项目名称', trigger: 'blur'}],
          no: [{required: true, message: '请输入项目编号', trigger: 'blur'}],
        }
      }
    },
    created () {
      this.getProjectsFunc()
    },
    mounted () {

    },
    methods: {
      getProjectsFunc: function () {
        let params = {
          status: 'Finished',
          delete: false,
          uid: mUtils.getStore('userinfo').uid
        }
        getProjects(params).then(res => {
          if (res.data.code === 0) {
            this.projectList = res.data.data.items
          } else if (res.data.code === 1) {
            this.$message({
              type: 'error',
              message: '用户登录已失效，请重新登录'
            })
          } else {
            this.$message({
              type: 'error',
              message: '获取项目列表失败'
            })
          }
        }).catch(res => {
          this.$message({
            type: 'error',
            message: '获取项目列表失败'
          })
          console.log('获取项目列表失败res.msg====', res.msg)
        })
      },
      editorProjectFunc: function (item, type) {
        if (type === 'col') {
          let roots = {
            pid: item.pid
          }
          let params = {
            status: 'Created'
          }
          editorProject(roots, params).then(res => {
            if (res.data.code === 0) {
              this.getProjectsFunc()
              this.$message({
                type: 'success',
                message: '已取消归档文件，可前往活跃项目列表查看'
              })
            } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
              this.$message({
                message: res.data.msg,
                type: 'error'
              })
            }
          }).catch(res => {
            this.$message({
              message: res.msg,
              type: 'error'
            })
          })
        } else {
          this.title = '编辑项目'
          this.newProject = Object.assign({}, item)
          this.createprejectVisible = true
        }
      },
      submitNewProject: function () {
        this.$refs['newProjectRef'].validate((valid) => {
          if (!valid) {
            return false
          }
          let roots = {
            pid: this.newProject.pid
          }
          let params = {
            name: this.newProject.name,
            no: this.newProject.no,
            desc: this.newProject.desc,
          }
          editorProject(roots, params).then(res => {
            if (res.data.code === 0) {
              this.getProjectsFunc()
              this.createprejectVisible = false
              this.$message({
                type: 'success',
                message: '编辑成功'
              })
            } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
              this.$message({
                message: res.data.msg,
                type: 'error'
              })
            }
          }).catch(res => {
            this.$message({
              message: res.msg,
              type: 'error'
            })
          })
        })
      },
      removeProjectFunc: function (item) {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          let roots = {
            pid: item.pid
          }
          let params = {
            deleted: true
          }
          editorProject(roots, params).then(res => {
            if (res.data.code === 0) {
              this.$message({
                type: 'success',
                message: '删除成功!'
              })
              this.getProjectsFunc()
            } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
              this.$message({
                message: res.data.msg,
                type: 'error'
              })
            }
          }).catch(res => {
            this.$message({
              message: res.msg,
              type: 'error'
            })
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
      },
      closeCreatePrejectVisible() {
        this.newProject = {}
        this.$refs['newProjectRef'].resetFields()
      },
      openQuestion: function (item) {
        this.$router.push({name: '问题清单', query: {pid: item.pid, name: item.name}})
      }
    }
  }
</script>

<style lang="scss">
  .info_container{
    h4 {
      text-align: center!important;
      margin-top: 3rem!important;
      color: #9f9f9f!important;
      font-size: 26px!important;
    }
  }
</style>