<template>
  <div class="question-wrap">
    <div class="question-content" v-loading="fullscreenLoading">
      <ul class="step-nav-wrap">
        <li v-for="(item, index) in navList" :key="index" :class="item.status ? 'stepActive step-item' : 'step-item'" @click="changeNav(item, index)">
          <a href="javascript: void(0);" :class="activeStep === index ? 'stepActiveA' : ''">{{item.name}}</a>
        </li>
      </ul>
      <div class="question-item-wrap">
        <el-form :model="questions" ref="questionsRef" label-width="250px" label-position="top">
          <!-- 遍历所有的问题 -->
          <div v-for="(allItem, allIndex) in questionsData" :key="allIndex">
            <div class="question-item-wrap" v-if="activeStep === allIndex">
              <div v-for="(item, index) in allItem" :key="item.qid">
                <!-- template类型 -->
                <el-form-item v-if="item.type === 'template'">
                  <div v-if="item.templateType" style="display: inline-block;">
                    <span>{{index+1}}、</span>
                    <span v-for="(titem, tindex) in item.optionArr" :key="tindex" style="display: block; overflow: hidden; margin-top: -40px; margin-bottom: 50px; color: #212529; font-weight: 500;">
                      <div v-if="tindex === 0" style="display: inline-block; margin-left: 25px;">
                        <span style="display: inline-block; word-break: break-all;">{{titem.split(':')[0]}}：</span><br><span>{{titem.split(':')[1]}}：</span>
                        <span v-if="tindex < (item.optionArr.length-1)">
                          <el-input v-model="answerData[allIndex][index].res[item.option[tindex]]" style="width: 300px; margin-right: 5px;" @change="(val) => submitProject(val, 'save')" clearable></el-input>
                        </span>
                      </div>
                      <div v-else>
                        <span style="margin-left: 25px; display: inline-block; word-break: break-all;">{{titem}}</span>
                        <span v-if="tindex < (item.optionArr.length-1)">
                          <el-input v-model="answerData[allIndex][index].res[item.option[tindex]]" style="width: 300px; margin-right: 5px;" @change="(val) => submitProject(val, 'save')" clearable></el-input>
                        </span>
                      </div>
                    </span>
                  </div>
                  <div v-else>
                    <span>{{index+1}}、</span>
                    <div v-for="(titem, tindex) in item.optionArr" :key="tindex" style="display: inline-block; margin-bottom: 15px; color: #212529; font-weight: 500;">
                      <span style="display: inline-block; word-break: break-all;">{{titem}}</span>
                      <span v-if="tindex < (item.optionArr.length-1)">
                        <el-input v-model="answerData[allIndex][index].res[item.option[tindex]]" style="width: 100px; margin-right: 5px;" @change="(val) => submitProject(val, 'save')" clearable></el-input>
                      </span>
                    </div>
                  </div>
                </el-form-item>
                <!-- 注：需要显示table时删除v-show判断 -->
                <el-form-item v-else  v-show="item.type !== 'table'">
                <!-- <el-form-item :label="(index+1) + '、' + item.desc" v-else  v-show="item.type !== 'table'"> -->
                  <p style="color: #212529; font-weight: 500;">
                    {{(index+1) + '、' }}
                    <span style="display: inline-block; color: red;" v-show="item.disabled">(不适用)</span>
                    {{item.desc}}
                  </p>
                  <div class="question-item" v-if="item.type === 'input'" v-show="!item.disabled">
                    <el-col :span="8" style="padding-right: 10px;">
                      <el-input placeholder="请输入" v-model="answerData[allIndex][index].res.value" :disabled="item.disabled" @change="(val) => submitProject(val, 'save')" clearable></el-input>
                    </el-col>
                  </div>
                  <div class="question-item" v-if="item.type === 'select'">
                    <el-col :span="8">
                      <el-select v-model="answerData[allIndex][index].res.keyValue" placeholder="请选择" clearable @change="changeSelect(item, allIndex, index, answerData[allIndex][index].res)" style="width: 100%;">
                        <el-option v-for="list in item.option[0].select" :key="list.desc" :label="list.desc" :value="list.desc"></el-option>
                      </el-select>
                    </el-col>
                  </div>
                  <div v-if="item.type === 'form'">
                    <div class="question-item">
                      <el-col :span="8" v-for="(foitem, foindex) in item.optionArr" :key="foindex" style="padding-right: 10px; margin-bottom: 10px;">
                        <el-card class="box-card">
                          <div slot="header" class="clearfix">
                            <span style="font-weight: 700;" v-if="item.expansible">{{item.desc + '-' + (foindex+1)}}</span>
                            <span style="font-weight: 700;" v-else>{{item.desc}}</span>
                            <el-button type="primary" style="float: right; padding: 5px 8px; margin-top: 5px; font-size: 12px;" @click="addMoreInputGroup(item, allIndex, index)" v-if="foindex === 0 && item.expansible">新增</el-button>
                            <el-button type="danger" style="float: right; padding: 5px 8px; margin-top: 5px; font-size: 12px;" @click="removeMoreInputGroup(item, allIndex, index, foindex)" v-if="foindex > 0">删除</el-button>
                          </div>
                          <div v-for="(oitem, oindex) in item.option" :key="oindex">
                            <el-input :placeholder="oitem.desc" v-model="answerData[allIndex][index].res[foindex][oitem.field]" style="margin-bottom: 10px;" @change="(val) => formDataChange(val, foindex, oitem)" clearable></el-input>
                          </div>
                        </el-card>
                      </el-col>
                    </div>
                  </div>
                  <div class="question-item" v-if="item.type === 'radio'">
                    <el-radio-group v-model="answerData[allIndex][index].res.keyValue" @change="changeRadio(item, allIndex, index, answerData[allIndex][index].res)" :disabled="item.disabled">
                      <el-radio :label="list.field + '-' + list.value" v-for="(list, rindex) in item.option" :key="rindex">
                        <span v-if="!list.descArr || !list.descArr.value || list.descArr.value.length === 0">{{list.desc}}</span>
                        <span v-else v-for="(oitem, oindex) in list.descArr.value" :key="oindex">
                          <span>{{oitem}}</span>
                          <span v-if="oindex < (list.descArr.value.length-1)">
                            <el-input :disabled="answerData[allIndex][index].res.keyValue !== (list.field + '-' + list.value)" v-model="answerData[allIndex][index].res[list.descArr.key[oindex]]" style="width: 100px; margin-right: 5px;" @change="(val) => submitProject(val, 'save')" clearable></el-input>
                          </span>
                        </span>
                      </el-radio>
                    </el-radio-group>
                  </div>
                  <div class="question-item" v-if="item.type === 'checkbox'">
                    <el-checkbox-group v-model="answerData[allIndex][index].ans" @change="changeCheckbox(item, allIndex, index, answerData[allIndex][index].ans)" :disabled="item.disabled">
                      <el-checkbox :label="list.field" v-for="(list, cindex) in item.option" :key="cindex">{{list.desc}}</el-checkbox>
                    </el-checkbox-group>
                  </div>
                  <!-- table类型，需要显示table时直接去除v-show判断就行 -->
                  <div class="question-item" v-if="item.type === 'table'" v-show="item.type !== 'table'">
                    <div style="border-left: 1px solid #828282; border-top: 1px solid #828282; overflow: hidden; background: #fff;">
                      <div class="tabletype-header">
                        <el-col :span="8" v-for="taitem in item.option.header" :key="taitem"
                          style="border-right: 1px solid #828282; border-bottom: 1px solid #828282; text-align: center; padding: 5px 10px; font-weight: bold; font-size: 16px;">{{taitem}}</el-col>
                      </div>
                      <div class="tabletype-content">
                        <div v-for="(seitem, seindex) in item.option.sections" :key="seindex">
                          <el-col :span="24" style="border-bottom: 1px solid #828282; border-right: 1px solid #828282; padding: 5px 10px; font-weight: bold; font-size: 16px; height: 51px;">{{seitem.title}}</el-col>
                          <el-col :span="24" v-if="seitem.fieldOptions && seitem.fieldOptions.length > 0">
                            <el-col :span="24" v-for="(fiitem, fiindex) in seitem.fieldOptions" :key="fiindex" style="position: relative;">
                              <el-col :span="8" v-for="(fioitem, foval) in fiitem" :key="foval"
                                style="border-right: 1px solid #828282; border-bottom: 1px solid #828282; text-align: center; padding: 5px 10px;">
                                <!-- <p>{{fioitem}}</p> -->
                                <el-input v-if="foval === 'InvestorShares' || foval === 'HoldcoShares' || foval === 'ESOPShares'"
                                  v-model="answerData[allIndex][index].res.fields[seindex][fiindex][foval]" :placeholder="foval"
                                  @change="changeTableInput(allIndex, index, seindex, fiindex, foval)" clearable></el-input>

                                <el-input v-else-if="foval === 'InvestorPercent' || foval === 'HoldcoPercent' || foval === 'ESOPPercent'"
                                  v-model="answerData[allIndex][index].res.fields[seindex][fiindex][foval]" :placeholder="foval" :disabled="true" class="company-name-input" clearable>
                                  <template slot="append">%</template>
                                </el-input>

                                <el-input v-else v-model="answerData[allIndex][index].res.fields[seindex][fiindex][foval]"
                                  :placeholder="foval" :disabled="true" class="company-name-input" clearable></el-input>
                              </el-col>
                              <!-- <i class="el-icon-circle-plus-outline" v-if="fiindex === 0" @click="addTableLine(allIndex, index, seindex, fiindex, seitem)" style=" dispaly: block; position: absolute; right: -25px; top: 15px; color: #5867dd; cursor: pointer; font-size: 22px;"></i>
                              <i class="el-icon-remove-outline" v-else @click="deleteTableLine(allIndex, index, seindex, fiindex, seitem)" style=" dispaly: block; position: absolute; right: -25px; top: 15px; color: #F56C6C; cursor: pointer; font-size: 22px;"></i> -->
                            </el-col>
                          </el-col>
                          <el-col :span="24" v-if="seitem.fixed">
                            <el-col :span="8" style="border-right: 1px solid #828282; border-bottom: 1px solid #828282; padding: 5px 10px; height: 52px; font-weight: bold; font-size: 16px;">{{seitem.fixed[0]}}</el-col>
                            <el-col :span="8" v-for="(fixitem, fixindex) in seitem.fixed" :key="fixindex" v-if="fixindex > 0"
                              style="border-right: 1px solid #828282; border-bottom: 1px solid #828282; text-align: center; padding: 5px 10px;">
                              <div v-if="seindex === (item.option.sections.length-1)">
                                <div v-if="fixindex === (seitem.fixed.length-1)">
                                  <p style="font-weight: bold; font-size: 16px; text-align: center; height: 41px;">100%
                                    <!-- <span v-if="answerData[allIndex][index].res.fixed.TotalPercent > 100" style="color: red;">{{answerData[allIndex][index].res.fixed.TotalPercent}}%</span>
                                    <span v-else>{{answerData[allIndex][index].res.fixed.TotalPercent}}%</span> -->
                                  </p>
                                </div>
                                <div v-else>
                                  <p style="font-weight: bold; font-size: 16px; text-align: center; height: 41px;">
                                    <span>{{answerData[allIndex][index].res.fixed.TotalShares}}</span>
                                  </p>
                                </div>
                              </div>
                              <div v-else>
                                <el-input v-if="fixitem === 'ESOPShares'" v-model="answerData[allIndex][index].res.fixed[fixitem]" :placeholder="fixitem"
                                  @change="changeTableInput(allIndex, index, seindex, -1, fixitem)" clearable></el-input>
                                <el-input v-else :disabled="true" v-model="answerData[allIndex][index].res.fixed[fixitem]" class="company-name-input" clearable>
                                  <template slot="append">%</template>
                                </el-input>
                              </div>
                            </el-col>
                            <el-col :span="8" v-if="seindex === (item.option.sections.length-1)"></el-col>
                          </el-col>
                        </div>
                      </div>
                    </div>
                  </div>
                </el-form-item>
              </div>
            </div>
          </div>
        </el-form>
      </div>
      <div class="content-footer">
        <el-button :type="activeStep === 0 ? 'default' : 'primary'" size="small" @click="submitProject('', 'pre')" :disabled="activeStep === 0">上一步</el-button>
        <el-button type="primary" size="small" @click="submitProject('', 'next')" v-if="activeStep !== (navList.length - 1)">下一步</el-button>
        <el-button type="primary" size="small" @click="submitProject('', 'sub')" style="background: #2184be!important;" v-if="activeStep === (navList.length - 1)">一键生成</el-button>
      </div>
      <!-- <div class="save-button-wrap" @click="submitProject('save')">保存</div> -->
    </div>
  </div>
</template>

<script>
  import * as mUtils from 'utils/mUtils'
  import * as _ from 'lodash'
  import moment from 'moment'
  import * as types from '@/store/mutation-types'
  import { getQuestions, submitAnswers, getAnswers } from '@/api/api'
  export default {
    name: 'question',
    data () {
      return {
        projectId: null,
        projectTitle: null,
        user: {},
        navList: [],
        questionsData: [],
        answerData: [],
        activeStep: 0,
        fullscreenLoading: false,
        questions: {},
        tableDataIndex: {}, // table在所有问题数组中的位置下角标
        nameData: {},
      }
    },
    created () {
      this.projectId = parseInt(this.$route.query.pid)
      this.projectTitle = this.$route.query.name
    },
    mounted () {
      this.user = mUtils.getStore('userinfo')
      this.getQuestionssFunc()
    },
    computed: {
      
    },
    methods: {
      // 获取问题列表做数据重组
      getQuestionssFunc: function () {
        this.fullscreenLoading = true
        let params = {
          page: 1,
          page_size: 100,
          pid: this.projectId
        }
        getQuestions(params).then(res => {
          let uid = this.user.uid, pid = this.projectId
          let _this = this, questions = {}, questionsArr = []
          if (res.data.code === 0) {
            _.forEach(res.data.data.items, (val, index) => {
              questions = Object.assign({}, val)
              questions.disabled = false
              // 以下所有的类型判断，均为重组初始化数据所用
              if (val.type === 'input') {
                questions.answers = {
                  key: val.field,
                  value: val.default_value[val.field] ? val.default_value[val.field] : ''
                }
              } else if (val.type === 'select') {
                let valField = ''
                if (Object.keys(val.default_value).length > 0) {
                  valField = _.filter(val.option[0].select, {values: val.default_value})
                }
                questions.answers = {
                  keyValue: valField.length > 0 ? valField[0].desc : '',
                  value: val.default_value
                }
              } else if (val.type === 'form') {
                let answers = {}
                _.forEach(val.option, o => {
                  answers[o.field] = val.default_value[o.field] ? val.default_value[o.field] : ''
                  if (o.field === 'InvestorName' || o.field === 'HoldcoName') {
                    let namedata = Object.assign({}, _this.nameData)
                    namedata[o.field] = answers[o.field]
                    _this.nameData = namedata
                  }
                })
                questions.answers = [answers]
                questions.optionArr = [val.option]
              } else if (val.type === 'template') {
                questions.answers = {}
                let desc = val.desc
                questions.templateType = desc.indexOf('<br>') !== -1 ? true : false
                _.forEach(val.option, o => {
                  desc = desc.replace('{%' + o + '%}', '[$]').replace(/<br>/ig, '')
                  questions.answers[o] = val.default_value[o] ? val.default_value[o] : ''
                })
                questions.optionArr = desc.split('[$]')
              } else if (val.type === 'table') {
                questions.answers = {
                  fields: [[],[]],
                  fixed: {}
                }
                _.forEach(val.option.sections, (o, index) => {
                  let answerOption = {}
                  if (o.fields) {
                    o.fieldOptions = []
                    _.forEach(o.fields, p => {
                      if (p === 'InvestorName' || p === 'HoldcoName') {
                        answerOption[p] = _this.nameData[p] ? _this.nameData[p] : ''
                      } else {
                        answerOption[p] = val.default_value[p] ? val.default_value[p] : ''
                      }
                    })
                    o.fieldOptions.push(answerOption)
                    questions.answers.fields[index].push(answerOption)
                  }
                  if (o.fixed) {
                    _.forEach(o.fixed, m => {
                      questions.answers.fixed[m] = val.default_value[m] ? val.default_value[m] : ''
                    })
                    questions.answers.fixed['TotalShares'] = 0
                  }
                })
              } else if (val.type === 'radio') {
                questions.answers = {
                  keyValue: val.default_value[val.field] ? val.field + '-' + val.default_value[val.field] : '',
                  // key: val.default_value[val.field] ? val.field : '',
                  // value: val.default_value[val.field] ? val.default_value[val.field] : ''
                }
                let reg = /\{\%\w+\%\}/g
                _.forEach(val.option, (o, index) => {
                  let arrayData = [...o.desc.matchAll(reg)], descArr = [], descData = o.desc
                  let optionArr = []
                  if (arrayData.length > 0) {
                    _.forEach(arrayData, p => {
                      let descKey = p[0].replace('{%', '').replace('%}', '')
                      questions.answers[descKey] = val.default_value[descKey] ? val.default_value[descKey] : ''
                      optionArr.push(descKey)
                      descData = descData.replace('{%' + descKey + '%}', '[$]')
                    })
                    o.descArr = {
                      key: optionArr,
                      value: descData.split('[$]')
                    }
                  }
                })
              } else {
                questions.answers =[]
              }
              questionsArr.push(questions)
              // 初始化分类导航栏
              if (!(_.some(_this.navList, {name: val.tag}))) {
                if (_this.navList.length === 0) {
                  _this.navList.push({
                    status: true,
                    name: val.tag
                  })
                } else {
                  _this.navList.push({
                    status: false,
                    name: val.tag
                  })
                }
                _this.questionsData.push([])
                _this.answerData.push([])
              }
            })
            // 初始化所有问题并进行分类
            _.forEach(_this.navList, (p, index) => {
              _.forEach(questionsArr, (m, sindex) => {
                if (p.name === m.tag) {
                  _this.questionsData[index].push(m)
                  if (m.type === 'checkbox') {
                    _this.answerData[index].push({pid: pid, qid: m.qid, uid: uid, res: [], ans: m.answers})
                  } else {
                    _this.answerData[index].push({pid: pid, qid: m.qid, uid: uid, res: m.answers, ans: m.answers.keyValue})
                  }
                }
              })
            })
            this.getAnswersFunc(questionsArr)
          } else if (res.data.code === 1) {
            this.$message({
              type: 'error',
              message: '用户登录已失效，请重新登录'
            })
          } else {
            this.$message({
              type: 'error',
              message: res.data.msg
            })
          }
        }).catch(res => {
          this.$message({
            type: 'error',
            message: res.msg
          })
        })
      },
      // 获取问题列表，初始化已回答的问题
      getAnswersFunc: function (questionsArr) {
        let _this = this
        let params = {
          pid: this.projectId,
          uid: this.user.uid,
          page: 1,
          page_size: 100
        }
        getAnswers(params).then(res => {
          if (res.data.code === 0) {
            let resArr = res.data.data.items

            // 初始化所有问题的答案
            let initAnswerArr = _this.answerData
            let newAnswerArr = []
            // 存在问题列表时
            if (resArr.length > 0) {
              _.forEach(initAnswerArr, (o, index) => {
                let oindex = index
                newAnswerArr.push([])
                _.forEach(o, (p, index) => {
                  if (_this.questionsData[oindex][index].type === 'table') {
                    _this.tableDataIndex = {
                      allIndex: oindex,
                      selfIndex: index
                    }
                  }
                  _.forEach(resArr, m => {
                    if (m.qid === p.qid) {
                      p.res = m.res
                      if (m.ans) {
                        p.res.keyValue = m.ans
                        p.ans = m.ans
                      } else {
                        if (p.res.constructor === Array) {
                          _this.questionsData[oindex][index].optionArr = m.res
                        } else {
                          // 初始化table中的答案
                          _.forEach(_this.questionsData[oindex][index].option.sections, (val, tindex) => {
                            val.fieldOptions = m.res.fields[tindex]
                          })
                        }
                      }
                      newAnswerArr[oindex].push(p)
                    }
                  })
                })
              })
              _this.answerData = newAnswerArr
            
              // 中间tab按钮的状态控制
              _.forEach(_this.navList, q => {
                q.status = true
              })
            } else {
              // 问题列表为空数组时，即刚创建的新项目首次打开时
              _.forEach(initAnswerArr, (o, index) => {
                let oindex = index
                newAnswerArr.push([])
                _.forEach(o, (p, index) => {
                  if (_this.questionsData[oindex][index].type === 'table') {
                    _this.tableDataIndex = {
                      allIndex: oindex,
                      selfIndex: index
                    }
                  }
                });
              });
            }
            // 初始化已回答问题答案的关联数据
            _.forEach(_this.questionsData, (quesP, indexP) => {
              _.forEach(quesP, quesPc => {
                if (quesPc.ref.qno) {
                  let parentQues = _.filter(_this.questionsData[indexP], function (p) {
                    return p.qno === quesPc.ref.qno
                  })
                  if (parentQues.length > 0) {
                    if (parentQues[0].disabled) {
                      quesPc.disabled = true
                    } else {
                      if (resArr.length > 0) {
                        let parentAns = _.filter(_this.answerData[indexP], {qid: parentQues[0].qid})
                        if (parentQues[0].option[0].field === parentQues[0].option[1].field) {
                          if (parentAns[0].ans && parentAns[0].ans.indexOf('-') !== -1  && parentAns[0].ans.split('-')[1] !== '1') {
                            quesPc.disabled = true
                          }
                        } else {
                          if (parentAns[0].ans && parentAns[0].ans.indexOf('-') !== -1 && parentAns[0].ans.split('-')[0] !== quesPc.ref.field) {
                            quesPc.disabled = true
                          }
                        }
                      } else {
                        if (parentQues[0].option[0].field === parentQues[0].option[1].field) {
                          if (parentQues[0].answers.keyValue && parentQues[0].answers.keyValue.indexOf('-') !== -1 && parentQues[0].answers.keyValue.split('-')[1] !== '1') {
                            quesPc.disabled = true
                          }
                        }
                      }
                    }
                  }
                }
              })
            })
            _this.fullscreenLoading = false
          } else {
            _this.fullscreenLoading = false
            console.log('我出错了===', res.data.msg)
          }
        }).catch(res => {
          _this.fullscreenLoading = false
          console.log('我进入了catch===', res)
        })
      },
      // 切换中间tab按钮
      changeNav: function (item, index) {
        this.activeStep = parseInt(index)
        this.navList[this.activeStep].status = true
      },
      // 新增按钮事件
      addMoreInputGroup: function (item, allIndex, index) {
        let answer = {}, tableAnswer = [], _this = this
        let ansIndex = this.answerData[allIndex][index].res.length - 1
        let answerRes = this.answerData[allIndex][index].res[ansIndex]
        let isEmpty = false
        _.forEach(answerRes, p => {
          if (p === '' || p === null || p === undefined) {
            isEmpty = true
          } else {
            isEmpty = false
            return
          }
        })
        if (isEmpty) {
          this.$message({
            type: 'warning',
            message: '请填写完现有内容再添加'
          })
        } else {
          // form表单关联的table中数据的处理
          _.forEach(item.option, (val) => {
            answer[val.field] = item.default_value[val.field]
            _.forEach(_this.answerData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].res.fields, (m, tindex) => {
              if (val.field === Object.keys(m[0])[0]) {
                let params = {}
                _.forEach(Object.keys(m[0]), (value, key) => {
                  if (value.indexOf('Name') !== -1) {
                    params[value] = item.default_value[val.field]
                  } else {
                    params[value] = ''
                  }
                })
                _this.answerData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].res.fields[tindex].push(params)
                if (_this.answerData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].res.fields[tindex].length > _this.questionsData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].option.sections[tindex].fieldOptions.length) {
                  _this.questionsData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].option.sections[tindex].fieldOptions.push(params)
                }
              }
            })
          })
          // form表单自身数据的处理
          this.answerData[allIndex][index].res.push(answer)
          if (this.answerData[allIndex][index].res.length > this.questionsData[allIndex][index].optionArr.length) {
            this.questionsData[allIndex][index].optionArr.push(item.option)
          }
        }
        this.submitProject('', 'save')
      },
      // 删除form表单方法
      removeMoreInputGroup: function (item, allIndex, index, foindex) {
        let _this = this
        // form表单管理的table中数据的处理
        _.forEach(_this.answerData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].res.fields, (m, tindex) => {
          _.forEach(_this.answerData[allIndex][index].res[foindex], (key, value) => {
            if (value === Object.keys(_this.answerData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].res.fields[tindex][0])[0]) {
              _this.answerData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].res.fields[tindex].splice(foindex, 1)
              _this.questionsData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].option.sections[tindex].fieldOptions.splice(foindex, 1)
            }
          })
        })
        // form表单自身数据处理
        this.answerData[allIndex][index].res.splice(foindex, 1)
        this.questionsData[allIndex][index].optionArr.splice(foindex, 1)
        this.submitProject('', 'save')
      },
      // 触发单选数据处理方法
      changeRadio: function (item, allIndex, index, res) {
        let _this = this
        _.forEach(_this.answerData[allIndex][index].res, (val, key) => {
          if (key !== 'keyValue' && key !== 'key' && key !== 'value') {
            _this.answerData[allIndex][index].res[key] = ''
          }
        })
        let someOption = _.filter(item.option, {field: res.keyValue.split('-')[0], value: res.keyValue.split('-')[1]})
        this.answerData[allIndex][index].res.key = someOption[0].field
        this.answerData[allIndex][index].res.value = someOption[0].value
        this.answerData[allIndex][index].ans = res.keyValue
        // 关联数据的状态处理
        _.forEach(_this.questionsData, (val, valIndex) => {
          _.forEach(val, valC => {
            if (valC.ref.qno && valC.ref.qno === _this.questionsData[allIndex][index].qno) {
              if (_this.questionsData[allIndex][index].disabled) {
                valC.disabled = true
              } else {
                if (_this.questionsData[allIndex][index].option[0].field === _this.questionsData[allIndex][index].option[1].field) {
                  if (_this.answerData[allIndex][index].ans && _this.answerData[allIndex][index].ans.indexOf('-') !==-1 && _this.answerData[allIndex][index].ans.split('-')[1] !== '1') {
                    valC.disabled = true
                  } else {
                    valC.disabled = false
                  }
                } else {
                  if (_this.answerData[allIndex][index].ans && _this.answerData[allIndex][index].ans.indexOf('-') !== -1 && valC.ref.field !== _this.answerData[allIndex][index].ans.split('-')[0]) {
                    valC.disabled = true
                  } else {
                    valC.disabled = false
                  }
                }
                let childQues = _.filter(_this.questionsData[allIndex], function (s) {
                  return s.ref.qno === valC.qno
                })
                if (childQues.length > 0) {
                  if (valC.disabled) {
                    childQues[0].disabled = true
                  } else {
                    let childAns = _.filter(_this.answerData[allIndex], {qid: valC.qid})
                    if (valC.option[0].field !== valC.option[1].field && valC.answers.keyValue.indexOf('-') !== -1 && childAns[0].ans.split('-')[0] !== childQues[0].ref.field) {
                      childQues[0].disabled = true
                    } else {
                      childQues[0].disabled = false
                    }
                  }
                }
              }
            }
          })
        })
        this.submitProject('', 'save')
      },
      // 触发多选数据处理方法
      changeCheckbox: function (item, allIndex, index, res) {
        let param = {}, _this = this, lastOption = item.option[item.option.length-1].field
        let ansParam = []
        if (res[res.length-1] !== lastOption) {
          _.forEach(item.option, o => {
            _.forEach(res, p => {
              if (p !== lastOption) {
                param[p] = _.filter(item.option,{field: p})[0].value
              }
            })
          })
        } else {
          param = {}
          param[lastOption] = _.filter(item.option,{field: lastOption})[0].value
          ansParam = [lastOption]
        }
        _.forEach(param, (val, key) => {
          ansParam.push(key)
        })
        this.answerData[allIndex][index].ans = ansParam
        this.answerData[allIndex][index].res = param
        this.submitProject('', 'save')
      },
      // 触发下拉框数据处理方法
      changeSelect: function (item, allIndex, index, res) {
        let resArr = _.filter(this.questionsData[allIndex][index].option[0].select, {field: res.keyValue})
        this.answerData[allIndex][index].res = resArr.length > 0 ? resArr[0].values : {}
        this.answerData[allIndex][index].res.keyValue = res.keyValue
        this.answerData[allIndex][index].ans = res.keyValue
        this.submitProject('', 'save')
      },
      // 触发表格数据处理方法
      changeTableInput: function (allIndex, index, seindex, fiindex, key) {
        let chooseArr = this.answerData[allIndex][index].res
        let allPercent = 0, allShares = 0
        _.forEach(chooseArr.fields, m => {
          _.forEach(m, p => {
            if (p['InvestorPercent']) {
              let investorPercent = p['InvestorPercent'] ? parseFloat(p['InvestorPercent']) : 0
              allPercent = parseFloat(allPercent) + parseFloat(p['InvestorPercent'])
            } else if (p['HoldcoPercent']) {
              let holdcoPercent = p['HoldcoPercent'] ? parseFloat(p['HoldcoPercent']) : 0
              allPercent = parseFloat(allPercent) + parseFloat(p['HoldcoPercent'])
            }
            if (p['InvestorShares']) {
              let inverstorShares = p['InvestorShares'] ? parseFloat(p['InvestorShares']) : 0
              allShares = parseFloat(allShares) + parseFloat(p['InvestorShares'])
            } else if (p['HoldcoShares']) {
              let HoldcoShares = p['HoldcoShares'] ? parseFloat(p['HoldcoShares']) : 0
              allShares = parseFloat(allShares) + parseFloat(p['HoldcoShares'])
            }
          })
        })
        if (chooseArr.fixed['ESOPPercent']) {
          allPercent = parseFloat(allPercent) + parseFloat(chooseArr.fixed['ESOPPercent'])
        }
        if (chooseArr.fixed['ESOPShares']) {
          allShares = parseFloat(allShares) + parseFloat(chooseArr.fixed['ESOPShares'])
        }
        this.answerData[allIndex][index].res.fixed.TotalShares = (Math.floor(allShares * 100) / 100) + ''

        let changeKey = key.replace('Shares', 'Percent')
        _.forEach(chooseArr.fields, m => {
          _.forEach(m, p => {
            _.forEach(p, (val, value) => {
              if (value.indexOf('Shares') !== -1) {
                let pValue = p[value] === '' ? 0 : p[value] / allShares
                p[value.replace('Shares', 'Percent')] = (Math.floor((pValue * 100)*100) / 100) + ''
              }
            })
          })
        })
        let fixedValue = chooseArr.fixed['ESOPShares'] === '' ? 0 : chooseArr.fixed['ESOPShares'] / allShares
        chooseArr.fixed['ESOPPercent'] = (Math.floor((fixedValue * 100)*100 ) / 100) + ''
        this.submitProject('', 'save')
      },
      // 触发form表单数据处理方法
      formDataChange: function (val, foindex, oitem) {
        let _this = this
        // form自身数据处理
        let tableData = _this.answerData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].res.fields
        // form表单关联table数据处理
        _.forEach(tableData, (p, index) => {
          if (_this.answerData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].res.fields[index][foindex] && Object.keys(_this.answerData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].res.fields[index][foindex])[0] === oitem.field) {
            _this.answerData[_this.tableDataIndex.allIndex][_this.tableDataIndex.selfIndex].res.fields[index][foindex][oitem.field] = val
          }
        })
        _this.submitProject('', 'save')
      },
      // table表格新增行功能
      // addTableLine: function (allIndex, index, seindex, fiindex, item) {
      //   let itemPa = {}
      //   _.forEach(item.fieldOptions[0], (value, key) => {
      //     itemPa[key] = ''
      //   })
      //   this.questionsData[allIndex][index].option.sections[seindex].fieldOptions.push(itemPa)
      //   this.answerData[allIndex][index].res.fields[seindex].push(itemPa)
      // },
      // deleteTableLine: function (allIndex, index, seindex, fiindex, item) {
      //   this.answerData[allIndex][index].res.fields[seindex].splice(fiindex, 1)
      //   this.questionsData[allIndex][index].option.sections[seindex].fieldOptions.splice(fiindex, 1)
      //   this.changeTableInput(allIndex, index)
      // },
      // 提交保存
      submitProject: function (val, type) {
        let _this = this
        if (type === 'pre') { // 上一步
          this.activeStep = parseInt(this.activeStep) - 1
        } else if (type === 'next') { // 下一步
          this.activeStep = parseInt(this.activeStep) + 1
          this.navList[this.activeStep].status = true
        } else if (type === 'save') { // 实时保存
          let params = []
          _.forEach(this.answerData, val => {
            _.forEach(val, o => {
              params.push(o)
            })
          })
          this.$store.dispatch(types.SET_SAVE_STATUS, false)
          this.submitAnswersFunc(params, type)
        } else { // 一键生成最终报告
          this.fullscreenLoading = true
          let params = []
          _.forEach(_this.answerData, val => {
            _.forEach(val, o => {
              params.push(o)
            })
          })
          this.submitAnswersFunc(params, type)
        }
      },
      submitAnswersFunc: function (params, msgType) {
        let self = this
        submitAnswers(params).then(res => {
          if (res.data.code === 0) {
            self.fullscreenLoading = false
            if (msgType && msgType === 'save') {
              self.$store.dispatch(types.SET_SAVE_STATUS, true)
            } else {
              self.$router.push({name: '文档预览', query: {pid: self.projectId, name: self.projectTitle}})
            }
          } else if (res.data.code === 1) {
            self.$message({
              type: 'error',
              message: '用户登录已失效，请重新登录'
            })
          } else {
            self.$message({
              type: 'error',
              message: res.data.msg
            })
            self.fullscreenLoading = false
          }
        }).catch(res => {
          self.$message({
            type: 'error',
            message: res.msg
          })
          self.fullscreenLoading = false
        })
      }
    },
    watch: {
      
    }
  }
</script>

<style lang="scss">
  .question-wrap {
    padding: 10px 30px;
    overflow: auto;
    .project-title {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .question-content {
      min-height: 300px;
      background: #fff;
      padding: 20px;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      .save-button-wrap {
        position: fixed;
        right: 65px;
        top: 14rem;
        background: #5867dd;
        color: #fff;
        padding: 6px 20px;
        border-radius: 4px;
        cursor: pointer;
      }
      .step-nav-wrap {
        min-width: 900px;
        .step-item {
          position: relative;
          display: inline-block;
          -ms-flex-direction: column;
          flex-direction: column;
          min-width: 0;
          word-wrap: break-word;
          background-clip: border-box;
          border-radius: .25rem;
          background: #eee;
          padding: 13px 0;
          width: 18%;
          margin-right: 10px;
          cursor: pointer;
          a {
            color: #aaa;
            font-size: 14px;
            padding: 0 15px;
            font-weight: 500;
            cursor: pointer;
          }
        }
        .stepActive {
          background: #5867dd;
          a {
            color: #ccc;
            font-size: 14px;
            font-weight: 500;
            padding: 0 15px;
          }
          .stepActiveA {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
      .question-item-wrap {
        background: #eee;
        display: block;
        margin-top: 2em;
        min-height: 200px;
        overflow: hidden;
        position: relative;
        width: auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        // padding-top: 30px;
        padding-left: 20px;
        .question-item {
          padding-right: 15px;
          .el-radio {
            display: block;
            margin-left: 0!important;
            margin-bottom: 10px;
            .el-radio__label {
              white-space: break-spaces;
            }
          }
          .el-checkbox {
            display: block;
            margin-left: 0!important;
            .el-checkbox__label {
              white-space: break-spaces;
            }
          }
          .tabletype-content {
            .el-input__inner {
              border: none;
              text-align: center;
              &:focus, &:active, &:hover {
                border: none;
                outline: none;
              }
            }
            .company-name-input {
              .el-input__inner {
                background-color: transparent;
              }
              .el-input-group__append {
                background-color: transparent;
                border: none;
              }
            }
          }
        }
        .questionActive {

        }
        .add-investor-btn {
          margin-left: 10px;
          padding: 10px 15px;
          margin-top: 2px;
        }
        .el-form-item__label {
          color: #212529;
          font-weight: 500;
        }
      }
      // .question-item-wrap {
      //   margin: 5px 0;
      //   .question-title {
      //     margin-top: 15px;
      //     margin-bottom: 5px;
      //     .question-item-p {
      //       display: inline-block;
      //       line-height: 22px;
      //     }
      //   }
      // }
      // .question-item-anwwrap {
      //   margin-bottom: 15px;
      // }
      .content-footer {
        text-align: right;
        margin-top: 20px;
      }
    }
    .el-button--mini, .el-button--small {
      font-size: 14px;
    }
  }
</style>