<template>
  <div class="reports-wrap">
    <div class="reports-content" v-loading="fullscreenLoading">
      <div class="reports-header">
        <div class="reports-back-wrap">
          <el-col :span="8">
            <div @click="backToProjects">
              <i class="el-icon-back"></i>
              <span>返回</span>
            </div>
          </el-col>
          <el-col :span="8" style="text-align: xenter;">
            <span>预览: </span>
            <el-select v-model="reportsView" placeholder="请选择" size="mini" style="width: 200px;" @change="chooseReportsUrl">
              <el-option v-for="(item, index) in reportsData.items" :key="index" :label="item.pdf.substr(item.pdf.lastIndexOf('/')+1)" :value="item.pdf"></el-option>
            </el-select>
          </el-col>
          <el-col :span="8" style="text-align: right;">
            <el-button type="primary" size="mini" @click="downloadReport" :disabled="isLadingNow">
              <i class="el-icon-download download-icon"></i>
              <span class="download-text">全部下载</span>
            </el-button>
          </el-col>
          <!-- <el-col :span="8" style="text-align: right;">
            <div v-show="pageCount > 0">
              <el-button type="default" size="mini" @click="changePdfPage(0)">上一页</el-button>
              &nbsp;<span>{{currentPage}} / {{pageCount}}</span>&nbsp;
              <el-button type="default" size="mini" @click="changePdfPage(1)">下一页</el-button>
            </div>
          </el-col> -->
        </div>
      </div>
      <div class="reports-item-wrap">
        <!-- <pdf
          :src="src"
          :page="currentPage"
          @num-pages="pageCount = $event"
          @page-loaded="currentPage = $event"
          @loaded="loadPdfHandler"
        >
        </pdf> -->
        <pdf :src="src" v-for="i in numPages" :key="i" :page="i"></pdf>
      </div>
      <!-- <div class="reports-footer">
        <el-button type="primary" @click="downloadReport" size="mini">
          <i class="el-icon-download download-icon"></i>
          <span class="download-text">下载</span>
        </el-button>
      </div> -->
    </div>
  </div>
</template>

<script>
  import * as mUtils from 'utils/mUtils'
  import * as _ from 'lodash'
  import moment from 'moment'
  import pdf from 'vue-pdf'
  import { getReports } from '@/api/api'
  export default {
    name: 'reports',
    components: {
      pdf
    },
    data () {
      return {
        projectId: null,
        projectTitle: '',
        user: {},
        reportsData: {},
        reportsView: '',
        src: '',
        currentPage: 1,
        pageCount: 0,
        fullscreenLoading: false,
        isLadingNow: true,
        numPages: 1,
      }
    },
    created () {
      this.projectId = parseInt(this.$route.query.pid)
      this.projectTitle = this.$route.query.name
      this.user = mUtils.getStore('userinfo')
      this.getReportsFunc()
    },
    mounted () {
      this.src.promise.then(pdf => {
        this.numPages = pdf.numPages
      })
    },
    computed: {
      
    },
    methods: {
      backToProjects: function () {
        this.$router.push({name: '问题清单', query: {pid: this.projectId, name: this.projectTitle}})
      },
      chooseReportsUrl: function (tab) {
        this.src = tab
        this.pdfTask()
      },
      changePdfPage: function (val) {
        if (val === 0 && this.currentPage > 1) {
          this.currentPage--
        }
        if (val === 1 && this.currentPage < this.pageCount) {
          this.currentPage++
        }
      },
      loadPdfHandler: function (e) {
        this.currentPage = 1
      },
      submitProject: function (type) {
        if (type === 'pre') {
          this.activeStep = parseInt(this.activeStep) - 1
        } else if (type === 'next') {
          this.activeStep = parseInt(this.activeStep) + 1
          this.navList[this.activeStep].status = true
        } else {
          let self = this
          let params = []
          _.forEach(this.answerData, val => {
            _.forEach(val, o => {
              params.push(o)
            })
          })
          submitAnswers(params).then(res => {
            if (res.data.code === 0) {
              this.$confirm('文档已生成, 是否立即下载?', '提示', {
                confirmButtonText: '立即下载',
                cancelButtonText: '取消',
              }).then(() => {
                this.getReportsFunc()
              }).catch(() => {
                this.$message({
                  type: 'info',
                  message: '已取消下载'
                })
              })
            } else if (res.data.code === 1) {
              this.$message({
                type: 'error',
                message: '用户登录已失效，请重新登录'
              })
            } else {
              this.$message({
                type: 'error',
                message: res.data.msg
              })
            }
          }).catch(res => {
            this.$message({
              type: 'error',
              message: res.msg
            })
          })
        }
      },
      getReportsFunc: function () {
        this.fullscreenLoading = true
        let params = {
          pid: this.projectId
        }
        getReports(params).then(res => {
          if (res.data.code === 0) {
            this.reportsData = res.data.data
            this.reportsView = res.data.data.items[0].pdf.substr(res.data.data.items[0].pdf.lastIndexOf('/')+1)
            this.src = this.reportsData.items[0].pdf
            this.pdfTask()
          } else if (res.data.code === 1) {
            this.$message({
              type: 'error',
              message: '用户登录已失效，请重新登录'
            })
          } else {
            this.$message({
              type: 'error',
              message: res.data.msg
            })
            this.fullscreenLoading = false
          }
        }).catch(res => {
          this.$message({
            type: 'error',
            message: '服务器请求错误'
          })
          this.fullscreenLoading = false
        })
      },
      pdfTask: function () {
        var self = this
        var loadingTask = pdf.createLoadingTask(self.src)
        loadingTask.promise.then(pdf => {
          self.src = loadingTask
          self.numPages = pdf.numPages
          this.isLadingNow = false
          this.fullscreenLoading = false
        }).catch(res => {
          this.$message({
            type: 'error',
            message: '加载失败'
          })
          this.isLadingNow = false
          this.fullscreenLoading = false
        })
      },
      downloadReport: function () {
        let url = this.reportsData.zip
        window.open(url)
      }
    },
    watch: {
      
    },
  }
</script>

<style lang="scss">
  .reports-wrap {
    padding: 10px 30px;
    overflow: auto;
    .project-title {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .reports-content {
      min-height: 650px;
      background: #fff;
      padding: 20px 80px 20px 20px;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      .reports-header {
        position: fixed;
        overflow: hidden;
        top: 80px;
        border-radius: 4px 4px 0 0;
        width: calc(100% - 415px);
        left: 330px;
        z-index: 2014;
        background: #fff;
        -webkit-box-shadow: 0px 5px 10px 0px rgba(8, 24, 60, 0.1);
        box-shadow: 0px 5px 10px 0px rgba(8, 24, 60, 0.1);
        padding: 25px 20px 20px;
        .reports-back-wrap {
          cursor: pointer;
        }
      }
      .reports-item-wrap {
        margin-top: 50px;
        display: block;
        min-height: 200px;
        overflow: hidden;
        position: relative;
        width: auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding-left: 20px;
        .pdf-set {
          display: inline-block;
          text-align: center;
          width:60%;
        }
      }
      // .reports-footer {
      //   position: fixed;
      //   right: 60px;
      //   top: 50%;
      // }
    }
    .el-button--mini, .el-button--small {
      font-size: 14px;
    }
    .el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
      background-color: #b5afe6!important;
      border-color: #b5afe6!important;
    }
  }
</style>