<template>
  <div class="log">
    <h4>{{name}}</h4>
  </div>
</template>

<script>
import {  } from '@/api/api'
import { fn } from 'moment'
  export default {
    name: '',
    data () {
      return {
        name: 'ddjsfj',
        tableData: []
      }
    },
    computed: {
      
    },
    mounted () {
      this.testFunc()
    },
    created () {
      this.testFunc()
    },
    methods: {
      testFunc: function () {
        this.tableData = res.data.data
        this.name = 'dksjfjks'
      },
      deleteRow: function () {
        let params = {
          id: '38240984903'
        }
        let roots = {

        }
      }
    }, 
    components: {

    },
    watch: {

    }
  }
</script>

<style lang="scss">
  .log {
    h4 {

    }
  }
</style>