<template>
	<div class='bread_container' id="bread_container">
    <span @click="handleLefeMenu" class="bars"> 
	    <i class="el-icon-d-arrow-left"  :class="{isactive:changeBarDirection}"></i>
		</span>
		<!--<span v-if="levelList.length > 1">-->
			<el-breadcrumb class="breadcrumb" separator="/">
				<el-breadcrumb-item :to="{ path: '/index' }">首页</el-breadcrumb-item>
		    	<el-breadcrumb-item :to="{ path: item.path }" v-for='(item, index) in levelList' :key='index' v-if='item.name'>{{ item.name }}</el-breadcrumb-item>
	    	</el-breadcrumb>
		<!--</span>-->
		<!--<span v-else>-->
	    <!--<el-breadcrumb class="breadcrumb" separator="/">
	      <el-breadcrumb-item :to="{ path: '/index' }">首页</el-breadcrumb-item>
	      <el-breadcrumb-item v-for='(item, index) in levelList' :key='index' v-if='item.name'>{{ item.name }}</el-breadcrumb-item>
	    </el-breadcrumb>
    </span>-->
  </div>
</template>

<script>
	export default {
		name: 'bread',
		data () {
			return {
				changeBarDirection:false,
				levelList: null
			}
		},
		created () {
      this.getBreadcrumb()
  		},
  		methods: {
  			setSize: function () {
  				const win_size = {
					width: (this.$store.state.menu.sidebar.opened) ? $(window).width() - 180 : $(window).width() - 55,
					height: $(window).height() - 73
				}
				//将content部分的宽高，存入store中，
				this.$store.dispatch('set_win_content',win_size)
  			},
  			handleLefeMenu: function () {
//      折叠菜单
  			this.$store.dispatch('setLeftCollapse')
//			改变菜单宽度
				this.$store.dispatch('handleLeftMenu')
//			隐藏单一菜单名称
				this.$store.dispatch('dropName')
				this.setSize()
				this.changeBarDirection = !this.changeBarDirection
  			},
  			getBreadcrumb: function () {
//				前三个，只拿数组[0]的值
				let matched = this.$route.matched.filter(item => item.name)
				const first = matched[1]
				const second = matched[2]
				if(first && first.path === '/index') {
					matched = {}
				} else if (first.path === second.path) {
					matched = [matched[1]]
				} else {
					matched = [matched[1], matched[2]]
				}
				this.levelList = matched
  			}
  		},
  		watch: {
  			$route () {
  				this.getBreadcrumb()
  			}
  		}
	}
</script>

<style lang="scss">
	.bread_container{
		margin-bottom: 1px;
		width: 100%;
		box-shadow: 1px 1px 8px 1px #ddd;
		.bars{
			float: left;
      	margin: 4px 10px;
			cursor: pointer;
			.isactive{
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
				transition: .38s;
				-webkit-transform-origin: 50% 50%;
				transform-origin: 50% 50%;
			}
		}
		.breadcrumb{
			height: 30px;
			line-height: 30px;
			.breadbutton{
				float:left;
				margin:4px 5px 0 0;
			}
		}
	}
</style>