<template>
	<div class="">
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
</script>

<style lang="scss">
	.fade-enter-active, .fade-leave-active {
  		transition: opacity .3s
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
</style>