<template>
	<header class="head-nav" id='header_container'>
    <el-row>
      <el-col :class="changeBarDirection ? 'logodispaly' : 'logo-container'">
        <img src="../../static/img/logo.gif" class="logo">
      </el-col>
      <div :class="changeBarDirection ? 'userinfo userinfolarge' : 'userinfo'">
        <div class="project-title">
          <h3>
            <img class="active-iamge" :src="'../../static/img/' + activeImg + '.png'" alt="">{{projectTitle}}
          </h3>
        </div>
        <div style="text-align: right; flex: 1; padding: 0 20px; line-height: 85px;">
          <p v-if="saveStatus"><i class="el-icon-circle-check-outline" style="display: inline-block; margin-right: 5px;"></i>已保存</p>
          <p v-else><i class="el-icon-loading" style="display: inline-block; margin-right: 5px;"></i>保存中</p>
        </div>
        <div style="display: inline-block; margin-right: 30px; cursor: pointer;" @click="changeUserInfo('open')">
          <img src="../../static/img/user.png" alt="" style="width: 26px;vertical-align: middle;margin-top: -2px;">
          <p class='avatarname'>{{userinfo.name}}</p>
        </div>
      </div>
      <div class="userinfobg-wrap">
        <div class="userinfo-bg-wrap" @click="changeUserInfo('close')"></div>
        <div class="userinfo-wrap">
          <div class="userinfo-name">
            <h4>{{userinfo.name}}</h4>
          </div>
          <div class="userinfo-content">
            <div class="admin-control-user" v-if="userinfo.admin" style="margin-bottom: 20px;">
              <h5>系统设置</h5>
              <el-switch style="display: block" v-model="registerConfig.status" active-color="#5867dd" inactive-color="#dddddd" active-text="开通注册" inactive-text="关闭注册" @change="changeRegister"></el-switch>
            </div>
            <hr class="line">
            <h5>个人设置</h5>
            <el-form :model="userinfo" label-width="55px" style="margin-top: 20px;">
              <el-form-item label="用户名">
                <el-input v-model="userinfo.name"></el-input>
              </el-form-item>
              <el-form-item class="password-wrap" label="密码">
                <el-input :type="isPWDShow ? 'type' : 'password'" class="phonecode-input-wrap" v-model="userinfo.password"></el-input>
                <span class="el-input__suffix" style="height: 35px; cursor: pointer;" @click="isPWDShow = !isPWDShow">
                  <span class="el-input__suffix-inner">
                    <i class="el-input__icon el-icon-view el-input__clear"></i>
                  </span>
                </span>
              </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer" style="text-align: center;">
              <el-button type="primary" @click="editorUserFunc" size="small">确认修改</el-button>
            </div>
          </div>
        </div>
      </div>
    </el-row>
  </header>
</template>

<script>
  import { mapState } from 'vuex'
  import * as mUtils from '../utils/mUtils'
  import * as _ from 'lodash'
  import { editorUser, getConfig, editorConfig } from 'api/api'
  export default {
    name: 'head-nav',
    data () {
      return {
        userinfo: '',
        changeBarDirection: false,
        notices: [],
        projectTitle: null,
        activeImg: 'fa-project',
        downloadUrl: null,
        showDownload: false,
        isPWDShow: false,
        registerConfig: {
          status: false,
          cid: null
        },
      }
    },
    computed: {
      ...mapState({
        resError: state => state.user.resError,
        saveStatus: state => state.user.saveStatus
      })
    },
    created(){
      this.userinfo =  mUtils.getStore('userinfo')
      this.changeRoute()
    },
    methods:{
      changeRoute: function () {
        let _this = this
        this.projectTitle = this.$route.query.name ? this.$route.query.name : this.$route.path !== '/projects' ? this.$route.matched[2].name : null
        let leftMenu = this.$store.state.menu.items
        _.forEach(leftMenu, (val) => {
          _.forEach(val.children, (v) => {
            if (v.path === this.$route.matched[2].path) {
              _this.activeImg = v.icon
            }
          })
        })
      },
      handleLefeMenu: function () {
        // 折叠菜单
        this.$store.dispatch('setLeftCollapse')
        // 改变菜单宽度
        this.$store.dispatch('handleLeftMenu')
        // 隐藏单一菜单名称
        this.$store.dispatch('dropName')
        this.changeBarDirection = !this.changeBarDirection
      },
      changeUserInfo: function (type) {
        if (type === 'open') {
          this.getRegiterStatus()
          $('.userinfo-wrap').css('right', '0')
          $('.userinfo-bg-wrap').css('opacity', '1')
          $('.userinfobg-wrap').css('width', '100%')
        } else {
          $('.userinfo-wrap').css('right', '-400px')
          $('.userinfo-bg-wrap').css('opacity', '0')
          $('.userinfobg-wrap').css('width', '0px')
        }
      },
      getRegiterStatus: function () {
        getConfig({}).then(res => {
          if (res.data.code === 0) {
            let resData = res.data.data[0]
            this.registerConfig = {
              status: resData.value === '1' ? true : false,
              cid: resData.cid
            }
          } else {
            this.registerConfig = {
              status: false,
              cid: null
            }
          }
        }).catch(res => {
          this.registerConfig = {
            status: false,
            cid: null
          }
        })
      },
      changeRegister: function (tab) {
        let params = {
          value: tab === true ? '1' : '0',
          cid: this.registerConfig.cid
        }
        editorConfig(params).then(res => {
          if (res.data.code === 0) {
            this.$message({
              type: 'success',
              message: '修改信息成功'
            })
          } else {
            this.$message({
              type: 'success',
              message: '修改信息失败'
            })
          }
        }).catch(res => {
          this.$message({
            type: 'success',
            message: '修改信息失败'
          })
        })
      },
      editorUserFunc: function () {
        let params = {
          uid: this.userinfo.uid,
          name: this.userinfo.name,
          password: this.userinfo.password
        }
        editorUser(params).then(res => {
          if (res.data.code === 0) {
            this.$message({
              type: 'success',
              message: '修改信息成功'
            })
            mUtils.removeStore('userinfo')
            mUtils.setStore('userinfo', res.data.data)
          } else {
            this.$message({
              type: 'error',
              message: '修改信息失败'
            })
            this.userinfo = mUtils.getStore('userinfo')
          }
        }).catch(res => {
          this.$message({
            type: 'error',
            message: '修改信息失败'
          })
          this.userinfo = mUtils.getStore('userinfo')
        })
      }
    },
    watch: {
      '$route': 'changeRoute',
      'saveStatus': function (val, oldVal) {
        console.log(this.saveStatus)
      }
    }
	}
</script>

<style lang="scss">
	.head-nav {
		width: 100%;
    height: 80px;
    min-width:600px;
    background-color: #fff;
    top: 0px;
    left: 0px;
    z-index: 100;
    .logo-container {
      height: 80px;
			line-height: 80px;
      width: 300px;
      padding-left: 8px;
      overflow: hidden;
      transition: width .3s;
      text-align: center;
      margin-top: 5px;
      // border-right: 1px solid #e3e3e3;
      // border-bottom: 1px solid #e3e3e3;
	    .logo {
	      width: auto;
	      margin-right: 5px;
	      vertical-align: middle;
        display: inline-block;
        height: 45px;

      }
      .menuimg {
        width: 40px;
        float: right;
        display: inline-block;
        margin-top: 20px;
        cursor: pointer;
      }
		}
    .logodispaly {
      height: 80px;
			line-height: 80px;
      width: 71px;
      padding-left: 15px;
      overflow: hidden;
      transition: width .3s;
      border-right: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3;
      .logo {
        display: none;
      }
      .menuimg {
        width: 40px;
        display: inline-block;
        margin-top: 20px;
      }
    }
    .userinfolarge {
      width: calc(100% - 71px)!important;
    }
		.userinfo {
      height: 80px;
			line-height: 80px;
      text-align:right;
      float:right;
      width: calc(100% - 300px);
      background: #e7ebee;
      justify-content: space-between;
      display: flex;
      .project-title {
        margin-left: 35px;
        .active-iamge {
          width: 24px;
          vertical-align: middle;
          margin-top: -5px;
          margin-right: 5px;
        }
        .download-img {
          width: 24px;
          vertical-align: middle;
          margin-top: -5px;
          margin-left: 10px;
        }
      }
      .el-dropdown {
        cursor: pointer;
      }
      .avatar{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        vertical-align: middle;
        display: inline-block;
    	}
        .avatarname{
          line-height: 20px;
          text-align: center;
          font-size: 1rem;
          margin-left: .5rem;
          margin-right: .5rem;
          color: #3c3992;
          font-weight: 500;
          display: inline-block;
        }
    		.username {
          cursor: pointer;
          margin-right: 5px;
          .el-dropdown {
            color: #FFF;
          }
    		}
			.logout {
        vertical-align: middle;
        cursor: pointer;
        width: 19px;
      }
      .fa-user {
	      position: relative;
	      top: -2px;
	      margin-right: 4px;
	    }
	    .border{
	      border:1px solid;
      }
      .notice-wrap {
        display: inline-block;
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
          vertical-align: middle;
        }
      }
    }
    .userinfo-wrap {
      width: 300px;
      position: fixed;
      top: 0;
      bottom: 0;
      right: -400px;
      background: #fff;
      z-index: 1000;
      transition: all .2s;
      .userinfo-name {
        padding: 1.5rem;
        text-align: center;
        vertical-align: middle;
        height: 100px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        h4 {
          line-height: 100px;
        }
      }
      .userinfo-content {
        padding: 20px 15px 15px;
        h5 {
          margin-bottom: 10px;
          font-size: 14px;
        }
        .line {
          border: 0;
          border-top: 1px solid rgba(0,0,0,.1);
          margin-bottom: 30px;
        }
        .el-switch__label {
          color: rgb(126, 125, 125);
        }
        .el-switch__label.is-active {
          color: #5867dd;
        }
      }
    }
    .userinfobg-wrap {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999;
      width: 0;
      .userinfo-bg-wrap {
        background: rgba(0,0,0,.3);
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .2s;
      }
    }
	}
  .userinfo-dropdown-items {
    width: 130px;
    margin: -1px 0 0!important;
    text-align: center;
    .el-dropdown-menu__item {
      color: #4a4a4a;
      font-weight: 400;
      font-size: .875rem;
    }
    .popper__arrow {
      display: none;
    }
  }
  .notice-dropdown-items {
    width: 300px;
    margin: -1px 0 0!important;
    text-align: center;
    .popper__arrow {
      display: none;
    }
    .notice-title {
      text-align: left;
      padding: 0 15px;
      color: #4c4c4c;
      .notice-tips {
        display: inline-block;
        font-weight: normal;
        font-size: 14px;
        float: right;
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        img {
          width: 22px;
          height: 22px;
          position: absolute;
          left: 0;
          top: -1px;
        }
      }
    }
    .notice-item-wrap {
      text-align: left;
      height: auto;
      overflow-y: scroll;
      margin-top: 8px;
      .notice-nickname {
        font-size: 14px;
        position: relative;
        i {
          display: block;
          width: 8px;
          height: 8px;
          background: red;
          border-radius: 50%;
          position: absolute;
          right: 0;
          top: 10px;
        }
      }
      .notice-desc {
        font-size: 13px;
      }
      .el-dropdown-menu__item {
        padding: 5px 17px;
        line-height: 18px;
      }
    }
  }
</style>