<template>
	<div class="home">
    <head-nav></head-nav>
    <div class="left-fixed-right-auto main">
      <left-menu></left-menu>
        <div class="content">
          <!-- <bread></bread> -->
          <router-view></router-view><!--页面渲染入口-->
        </div>
    </div>
  </div>
</template>

<script>
	import HeadNav from './HeadNav.vue'
	import LeftMenu from './LeftMenu.vue'
	import Bread from './Bread.vue'
	export default {
		name: 'home',
		data () {
			return {
				win_size: {
           height: '',
           width:''
        }
			}
		},
		created () {
			this.setSize()
		},
		mounted () {
			window.onresize = () => {
	    		this.setSize()
	    }
		},
		methods: {
			//用于自适配窗口页面大小
      setSize() {
        //lib_$-->$,window的宽,高的获取是没有问题的。
        this.win_size = {
            height: document.body.clientHeight - 73,
            width: document.body.clientWidth - 183
        }
        //将content部分的宽高，存入store中，
        this.$store.dispatch('set_win_content', this.win_size); //触发动作，content部分的宽高也随即改变。
      }
		},
		components: {
			HeadNav,
			LeftMenu,
			Bread
		}
	}
</script>

<style lang="scss">
	.home {
		position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    .full-height {
    		height: 100%;
    }
    .main {
    	display: flex;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      width: 100%;
      bottom: 0px;
      overflow: hidden;
    }
    .content {
      overflow-y: auto;
      overflow-x: hidden;
      padding-bottom: 10px;
      width: 100%;
      background: #e7ebee;
      margin-left: 300px;
    }
	}
	.content_page{
    position: fixed;
    top:71px;
    bottom: 0;
    background: #FFF;
    overflow:auto;
   	.content{
       width:100%;
       height:100%;
    }
  }
</style>