<template>
	<el-row class="menu_page">
    <el-col style="height: 100%; width: 300px;">
      <ul class="navigation-icon-menu">
        <div>
          <li :class="activeIndex === index ? 'navigation-item menuActive' : 'navigation-item'" v-for="(item, index) in lefeMenuList" :key="index" @click="chooseNav(item, index)">
            <a :href="'#' + item.path">
              <el-tooltip class="item" effect="dark" :content='item.name' placement="top">
                <img :src="'../../static/img/' + item.icon + '.png'" alt="">
              </el-tooltip>
            </a>
          </li>
        </div>
        <div>
          <li class="navigation-item">
            <a href="javascript: void(0);" @click="logout">
              <el-tooltip class="item" effect="dark" content='退出' placement="top">
                <img src="../../static/img/logout.png" alt="">
              </el-tooltip>
            </a>
          </li>
        </div>
      </ul>
      <ul class="navigation-menu-body">
        <li v-for="(item, index) in lefeMenuChildList" :key="index" :class="childActiveName === item.path ? 'childMenuActive childMenuItem' : 'childMenuItem'">
          <a :href="'#' + item.path" v-if="item.parent === activeName">{{item.name}}</a>
        </li>
      </ul>
    </el-col>
  </el-row>
</template>

<script>
  import * as mUtils from "utils/mUtils"
  import * as _ from 'lodash'
  import { requestLogout } from 'api/api'
	export default {
		name: 'left-menu',
		data () {
			return {
				activeIndex: 0,
        isDropdown: false,
        activeName: 'index',
        childActiveName: '/index',
			}
		},
		computed:{
	    lefeMenuList(){
	       return this.$store.state.menu.items
      },
      lefeMenuChildList() {
        return this.$store.state.menu.items[this.activeIndex].children
      },
	  },
	  created(){
	    
    },
	  methods: {
      chooseNav: function (item, index) {
        this.activeIndex = index
        this.activeName = item.source
      },
      getRouterPath() {
        if (this.$route.path === '/projects') {
          this.childActiveName = this.$route.matched[1].path
        } else {
          this.childActiveName = this.$route.path
        }
      },
      goToUserProfile: function () {
        this.$router.push({name: '个人设置'})
      },
      logout: function () {
        requestLogout({}).then(res => {
          if (res.data.code === 0) {
            mUtils.removeStore('userinfo')
            mUtils.removeStore('menuData')
            this.$cookies.remove('uid')
            this.$cookies.remove('sid')
            this.$router.push('/')
          } else {
            console.log('获取下载链接失败===', res.data.msg)
          }
        }).cacth(res => {
          console.log('获取下载链接报错===', res.msg)
        })
      }
	  },
	  watch: {
	  	'$route': 'getRouterPath'
	  }
	}
</script>

<style lang="scss">
	.menu_page {
		// height: 100%;
    padding-top: 10px;
    position: fixed;
    left: 0;
    height: -webkit-calc(100vh - 80px);
    height: -moz-calc(100vh - 80px);
    height: calc(100vh - 80px);
    top: 80px;
    width: 300px;
    padding-bottom: 15px;
    background: #fff;
    z-index: 998;
    .navigation-icon-menu {
      height: calc(100vh - 130px);
      height: -webkit-calc(100vh - 130px);
      height: -moz-calc(100vh - 130px);
      width: 60px;
      float: left;
      background-color: #5867dd;
      margin-left: 15px;
      margin-bottom: 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px 0;
      overflow: hidden;
      .navigation-item {
        a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -moz-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          height: 60px;
          width: 60px;
          -webkit-transition: background-color .3s;
          -o-transition: background-color .3s;
          -moz-transition: background-color .3s;
          transition: background-color .3s;
          position: relative;
          img {
            width: 22px;
          }
        }
      }
      .menuActive {
        position: relative;
        list-style-type: none;
        a {
          &:before {
            content: "";
            font-weight: 600;
            position: absolute;
            left: 52px;
            display: block;
            background: #fff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            width: 20px;
            height: 20px;
            top: 20px;
            font-size: 40px;
            line-height: 0;
            color: #fff;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
    }
    .navigation-menu-body {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      .childMenuItem {
        margin: 0 15px;
        margin-bottom: 3px;
        a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          padding: 7px 15px;
          color: #323232;
          font-size: 14px;
        // -webkit-transition: background .3s;
        // -o-transition: background .3s;
        // -moz-transition: background .3s;
        // transition: background .3s;
          padding: 5px 15px 7px 35px;
        }
      }
      .childMenuActive {
        a {
          color: #5867dd;
          background: #ebebeb;
        }
      }
    }
	  .el-menu-vertical-demo {
		  width: 70px;
      min-height: calc(100% - 60px);
      height: 100%;
      border-right: 0;
		  .el-menu-item {
		    padding-left: 40px !important;
		  }
		  .dropItem .el-submenu__icon-arrow {
			  display: none!important;
			}
		  &:not(.el-menu--collapse) {
			  width: 300px;
			}
			.fa-margin {
			  margin-right: 5px;
			  img {
			  	width: 16px;
          height: 16px;
          margin-top: -4px;
			  }
      }
      .el-submenu__title {
        font-size: 0.875rem;
        // border-bottom: 1px solid #e3e3e3;
      }
			.el-submenu is-opened {
				.el-submenu__title{
           position: relative;
           &:before {
              content: '';
              position: absolute;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: #000;
              margin-top: 15px;
           }
		    }
			}
			.el-submenu .el-menu-item {
			  min-width: 180px;
			}
			.router-link-active {
			  li {
			    .el-submenu__title{
			      color: #3c3992 !important;
            font-weight: 500;
			    }
			  }
			}
		}
    .el-menu--collapse {
      .el-submenu__title {
        text-align: center;
        .fa-margin {
          margin-right: 0;
        }
      }
    }
	}
  .el-menu-item, .el-submenu__title {
    height: 45px;
    line-height: 45px;
  }
</style>